<html>
  <head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'normalise.css' | asset_url | stylesheet_tag }}
    {{ 'globalstyles.css' | asset_url | stylesheet_tag }}
    {{ 'script.js' | asset_url | script_tag }}
  </head>
  <body>
    <div class="page-wrapper">
      {% render 'header' %}
      <div class="main-wrapper">
        {{ content_for_layout }}
      </div>
      {% render 'footer' %}
    </div>
  </body>
</html>