<html lang="pl-PL">
  <head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {{ 'normalise.css' | asset_url | stylesheet_tag }}
    {{ 'globalstyles.css' | asset_url | stylesheet_tag }}
    {{ 'webflow.css' | asset_url | stylesheet_tag }}
    {{ 'navbar.css' | asset_url | stylesheet_tag }}
    {{ 'snippets.css' | asset_url | stylesheet_tag }}
    {{ 'snippets.js' | asset_url | script_tag }}
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
    {% comment %}{{ 'cart.js' | asset_url | script_tag }}{% endcomment %}
    {% comment %}{{ 'checkout.js' | asset_url | script_tag }}{% endcomment %}
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>OponyKola.pl - Nowe i używane do każdego samochodu w niskiej cenie</title>
  </head>
  <body>
    <div class="page-wrapper">
      {% sections 'header-group' %}
      <div class="main-wrapper">
        {{ content_for_layout }}
      </div>
      {% sections 'footer-group' %}
    </div>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
  </body>
</html>