<html>
  <head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {{ 'normalise.css' | asset_url | stylesheet_tag }}
    {{ 'globalstyles.css' | asset_url | stylesheet_tag }}
    {{ 'script.js' | asset_url | script_tag }}
    {{ 'filters.js' | asset_url | script_tag }}
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>
    <div class="page-wrapper">
      {% sections 'header-group' %}
      <div class="main-wrapper">
        {{ content_for_layout }}
      </div>
      {% sections 'footer-group' %}
    </div>
  </body>
</html>