<section class="section_filters2 background-color-grayiron100">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-small">
                <div class="filters2_component">
                    <div class="filters2_layout">
                        <div class="filters2_filters-wrapper">
                            <div class="filters2_form-block w-form">
                                <form class="filters2_form">
                                    <div class="filters2_form-header">
                                        <div class="filters2_heading">Filtry</div>

                                        <div class="button is-link hide-tablet w-inline-block">
                                            <a class="text-clear-filters" href="{{ collection.url }}?sort_by={{ collection.sort_by }}">WYCZYŚĆ WSZYSTKIE</a>
                                        </div>

                                    </div>

                                    {%- for filter in collection.filters -%}
                                        {%- if filter.type == "price_range" -%}
                                            {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                                                <p>
                                                    <a href="{{ filter.url_to_remove }}">
                                                        {%- assign min_value = filter.min_value.value | default: 0 -%}
                                                        {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                                                        {{ min_value | money }} - {{ max_value | money }} X
                                                    </a>
                                                </p>
                                            {%- endif -%}
                                        {%- else -%}
                                            {%- for filter_value in filter.active_values -%}
                                                <p>
                                                    <a href="{{ filter_value.url_to_remove }}">
                                                        {{ filter.label }}: {{ filter_value.label }} X
                                                    </a>
                                                </p>
                                            {%- endfor -%}
                                        {%- endif -%}
                                    {%- endfor -%}

                                    {%- for filter in collection.filters -%}
                                        <details open class="filters2_filter-group">
                                            <summary class="filters2_filter-group-heading">
                                                <div class="text-size-medium text-weight-semibold">
                                                    <span>{{ filter.label }}</span>

                                                    {%- if filter.active_values.size > 0 -%}
                                                        <span>({{ filter.active_values.size }})</span>
                                                    {%- endif -%}
                                                </div>
                                            </summary>

                                            <div class="filters2_filter-options">
                                                <div>
                                                    <p>{{ filter.active_values.size }} Wybrano</p>
                                                    {%- if filter.active_values.size > 0 -%}
                                                        <p><a href="{{ filter.url_to_remove }}">Zresetuj</a></p>
                                                    {%- endif -%}
                                                </div>
                                                {%- case filter.type -%}
                                                    {%- when 'boolean' -%}
                                                        <ul class="filters-list">
                                                            <li>
                                                                <label for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}" class="w-checkbox filters2_form-checkbox1">
                                                                    <input type="checkbox"
                                                                           name="{{ filter.param_name }}"
                                                                           value="{{ filter.true_value.value }}"
                                                                           id="Filter-{{ filter.param_name }}"
                                                                           {% if filter.true_value.active -%}checked{%- endif %}
                                                                        {% if filter.true_value.count == 0 and filter.true_value.active == false -%}disabled{%- endif -%}
                                                                    >{{ filter.true_value.label }}</label>
                                                            </li>
                                                            <li>
                                                                <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}" class="w-checkbox filters2_form-checkbox1">
                                                                    <input type="checkbox"
                                                                           name="{{ filter.param_name }}"
                                                                           value="{{ filter.false_value.value }}"
                                                                           id="Filter-{{ filter.param_name }}"
                                                                           {% if filter.false_value.active -%}checked{%- endif %}
                                                                        {% if filter.false_value.count == 0 and filter.false_value.active == false -%}disabled{%- endif %}
                                                                    >{{ filter.false_value.label }}</label>
                                                            </li>
                                                        </ul>

                                                        <div>
                                                            <input type="submit" value="Zastosuj">
                                                        </div>
                                                    {%- when 'list' -%}
                                                        <ul class="filters-list">
                                                            {%- for filter_value in filter.values -%}
                                                                <li>
                                                                    <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                                                                        <input type="checkbox"
                                                                               name="{{ filter_value.param_name }}"
                                                                               value="{{ filter_value.value }}"
                                                                               id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                                                               {% if filter_value.active -%}checked{%- endif %}
                                                                            {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                                                        >
                                                                        <span>
                                                                            {%- case filter_value.display.type -%}
                                                                                {%- when 'colors' -%}
                                                                                {% liquid
                                                                                    assign size_limit = filter_value.display.value.size | at_most: 4
                                                                                    assign rotation = '0deg'
                                                                                    if size_limit == 2
                                                                                        assign rotation = '45deg'
                                                                                    endif

                                                                                    assign angle_increment = 360 | divided_by: size_limit
                                                                                    assign angle = 0
                                                                                %}
                                                                                {%- capture conic_gradient -%}
                                                                                    {%- for color in filter_value.display.value limit: size_limit -%}
                                                                                        {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                                                                                    {%- endfor -%}
                                                                                {%- endcapture -%}
                                                                                <span style="
                                                                                        width: 25px;
                                                                                        height: 25px;
                                                                                        border-radius: 50%;
                                                                                        display: flex;
                                                                                        justify-content: center;
                                                                                        align-items: center;
                                                                                        background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                                                                                        "></span>
                                                                                {%- when 'image' -%}
                                                                                    {{
                                                                                    filter_value.display.value
                                                                                    | image_url: width: 25
                                                                                    | image_tag: alt: filter_value.display.value.alt
                                                                                    }}
                                                                                {%- else -%}
                                                                                    <span class="visual-display__child"></span>
                                                                            {%- endcase -%}
                                                                        </span>
                                                                        {{ filter_value.label }}
                                                                    </label>
                                                                </li>
                                                            {%- endfor -%}
                                                        </ul>

                                                        <div>
                                                            <input type="submit" value="Zastosuj">
                                                        </div>
                                                    {%- when 'price_range' -%}
                                                        <div class="filter-group-display__price-range">
                                                            <div class="filter-group-display__price-range-from">
                                                                <label for="Filter-{{ filter.min_value.param_name }}">Od</label>

                                                                <input name="{{ filter.min_value.param_name }}"
                                                                       id="Filter-{{ filter.min_value.param_name }}"
                                                                        {% if filter.min_value.value -%}
                                                                            value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                                                        {%- endif %}
                                                                       type="number"
                                                                       placeholder="0"
                                                                       min="0"
                                                                       max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                >

                                                                <span>{{ cart.currency.symbol }}</span>
                                                            </div>
                                                            <div class="filter-group-display__price-range-to">
                                                                <label for="Filter-{{ filter.max_value.param_name }}">Do</label>

                                                                <input name="{{ filter.max_value.param_name }}"
                                                                       id="Filter-{{ filter.max_value.param_name }}"
                                                                        {% if filter.max_value.value -%}
                                                                            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                                                        {%- endif %}
                                                                       type="number"
                                                                       placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                       min="0"
                                                                       max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                >

                                                                <span>{{ cart.currency.symbol }}</span>
                                                            </div>
                                                        </div>

                                                        <div class="filter-group-display__submit">
                                                            <input type="submit" value="Zastosuj">
                                                        </div>
                                                {%- endcase -%}
                                            </div>
                                        </details>
                                    {%- endfor -%}
                                </form>
                            </div>
                        </div>
                        <div> PRODUKTY</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="{{ 'filters.js' | asset_url }}"></script>

<script>
(async function () {
    // Helper function to format tire size correctly
    const formatTireSize = (tireSize) => {
        return tireSize.replace(/(\d+)\/(\d+)[A-Z]*/g, '$1/$2/R');
    };

    // Helper function to create option element
    const createOption = (tireData, prefix = '') => {
        let { tire, rim } = tireData;
        tire = formatTireSize(tire);
        const option = document.createElement("option");
        option.text = `${prefix} ${tire} (${rim})`;
        return option;
    };

    // Generic function to update select options
    const updateSelectOptions = async (dataKey, filterKey) => {
        const currentData = await Wized.data.get(dataKey);

        const selectElements = document.querySelectorAll(`select[wized="${filterKey}"]`);

        if (!selectElements || !selectElements.length) {
            console.error(`No select elements found with wized attribute "${filterKey}".`);
            return;
        }

        selectElements.forEach(selectElement => {
            selectElement.innerHTML = "";

            if (currentData && Array.isArray(currentData)) {
                //console.log(`Updating select options for filter_${filterKey}: `, currentData);

                // Create a set to store unique tire sizes
                const uniqueTireSizes = new Set();

                // First add single tire options (not part of a pair)
                currentData[0].wheels.forEach(item => {
                    const { front, rear } = item;
                    const normalizedFrontTire = front.tire ? formatTireSize(front.tire) : '';
                    const normalizedRearTire = rear.tire ? formatTireSize(rear.tire) : '';

                    if (front.tire && !rear.tire && !uniqueTireSizes.has(normalizedFrontTire)) {
                        selectElement.add(createOption(front));
                        uniqueTireSizes.add(normalizedFrontTire);
                    }
                    if (rear.tire && !front.tire && !uniqueTireSizes.has(normalizedRearTire)) {
                        selectElement.add(createOption(rear));
                        uniqueTireSizes.add(normalizedRearTire);
                    }
                });

                // Then add tire pairs, checking for duplicates
                let pairIndex = 1;
                currentData[0].wheels.forEach(item => {
                    const { front, rear } = item;
                    if (front.tire && rear.tire) {
                        const normalizedFrontTire = formatTireSize(front.tire);
                        const normalizedRearTire = formatTireSize(rear.tire);
                        if (!uniqueTireSizes.has(normalizedFrontTire)) {
                            selectElement.add(createOption(front, `Para ${pairIndex}: Przód`));
                            uniqueTireSizes.add(normalizedFrontTire);
                        }
                        if (!uniqueTireSizes.has(normalizedRearTire)) {
                            selectElement.add(createOption(rear, `Para ${pairIndex}: Tył`));
                            uniqueTireSizes.add(normalizedRearTire);
                        }
                        pairIndex++;
                    }
                });

                selectElement.selectedIndex = 0;
                Wized.data.setVariable('matching_sizes', selectElement.value.replace(/.*(\b\d{3}\/\d{2}\/R\d{2}\b).*/, '$1'));
                console.log(`Updated HTML select options for filter_${filterKey}.`);
            } else {
                // If currentData is not an array or empty, remove all options from the select element
                selectElement.innerHTML = "";
                console.error(`Invalid or empty data for filter_${filterKey}.`);
            }
        });
    };

    function toggleTab(searchByValue) {
        // Select tab elements
        const tabSize = document.querySelector('a[data-w-tab="Tab 1"]');
        const tabCar = document.querySelector('a[data-w-tab="Tab 2"]');
        const tabContentBySize = document.querySelector('div[data-w-tab="Tab 1"]');
        const tabContentByCar = document.querySelector('div[data-w-tab="Tab 2"]');

        // Check the value of c.searchBy and toggle classes accordingly
        if (searchByValue === 'bySize') {
            tabSize.classList.add('w--current');
            tabSize.setAttribute('aria-selected', 'true');
            tabContentBySize.classList.add('w--tab-active');

            tabCar.classList.remove('w--current');
            tabCar.setAttribute('aria-selected', 'false');
            tabContentByCar.classList.remove('w--tab-active');
        } else if (searchByValue === 'byCar') {
            tabCar.classList.add('w--current');
            tabCar.setAttribute('aria-selected', 'true');
            tabContentByCar.classList.add('w--tab-active');

            tabSize.classList.remove('w--current');
            tabSize.setAttribute('aria-selected', 'false');
            tabContentBySize.classList.remove('w--tab-active');
        }
    }

    // Search by car (tab 2 - search_by_car)
    Wized.data.listen("v.searchByModel", () => updateSelectOptions("v.searchByModel", "matching_sizes"));
    window.onload = async () => {
        const searchByValue = await Wized.data.get('c.searchBy');
        toggleTab(searchByValue);
    };

})();
</script>

{% stylesheet %}
.filters-list {
    list-style: none;
    align-items: center;
    margin-bottom: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.25rem;
    display: flex;
    flex-direction: column;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Filtry kolekcji",
  "settings": [
    {
      "type": "richtext",
      "id": "filtry-kolekcji",
      "label": "Filtry kolekcji"
    }
  ],
  "presets": [
    {
      "name": "Filtry kolekcji"
    }
  ]
}
{% endschema %}