<section class="section_filters2 background-color-grayiron100">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-small">
                <div class="filters2_component">
                    <div class="filters2_layout">
                        <div class="filters2_filters-wrapper">
                            <div class="filters2_form-block w-form">
                                <form>
                                    <div>
                                        <p>
                                            <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}">Wyczyść wszystko</a>
                                        </p>

                                        {%- for filter in collection.filters -%}
                                            {%- if filter.type == "price_range" -%}
                                                {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                                                    <p>
                                                        <a href="{{ filter.url_to_remove }}">
                                                            {%- assign min_value = filter.min_value.value | default: 0 -%}
                                                            {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                                                            {{ min_value | money }} - {{ max_value | money }} X
                                                        </a>
                                                    </p>
                                                {%- endif -%}
                                            {%- else -%}
                                                {%- for filter_value in filter.active_values -%}
                                                    <p>
                                                        <a href="{{ filter_value.url_to_remove }}">
                                                            {{ filter.label }}: {{ filter_value.label }} X
                                                        </a>
                                                    </p>
                                                {%- endfor -%}
                                            {%- endif -%}
                                        {%- endfor -%}
                                    </div>

                                    {%- for filter in collection.filters -%}
                                        <details open class="filters2_filter-group">
                                            <summary class="filters2_filter-group-heading">
                                                <div class="text-size-medium text-weight-semibold">
                                                    <span>{{ filter.label }}</span>

                                                    {%- if filter.active_values.size > 0 -%}
                                                        <span>({{ filter.active_values.size }})</span>
                                                    {%- endif -%}
                                                </div>
                                            </summary>

                                            <div class="filters2_filter-options">
                                                <div>
                                                    <p>{{ filter.active_values.size }} selected</p>
                                                    {%- if filter.active_values.size > 0 -%}
                                                        <p><a href="{{ filter.url_to_remove }}">Zresetuj</a></p>
                                                    {%- endif -%}
                                                </div>
                                                {%- case filter.type -%}
                                                    {%- when 'boolean' -%}
                                                        <ul>
                                                            <li>
                                                                <label for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}" class="w-checkbox filters2_form-checkbox1">
                                                                    <input type="checkbox"
                                                                           name="{{ filter.param_name }}"
                                                                           value="{{ filter.true_value.value }}"
                                                                           id="Filter-{{ filter.param_name }}"
                                                                           {% if filter.true_value.active -%}checked{%- endif %}
                                                                        {% if filter.true_value.count == 0 and filter.true_value.active == false -%}disabled{%- endif -%}
                                                                    >{{ filter.true_value.label }}</label>
                                                            </li>
                                                            <li>
                                                                <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}" class="w-checkbox filters2_form-checkbox1">
                                                                    <input type="checkbox"
                                                                           name="{{ filter.param_name }}"
                                                                           value="{{ filter.false_value.value }}"
                                                                           id="Filter-{{ filter.param_name }}"
                                                                           {% if filter.false_value.active -%}checked{%- endif %}
                                                                        {% if filter.false_value.count == 0 and filter.false_value.active == false -%}disabled{%- endif %}
                                                                    >{{ filter.false_value.label }}</label>
                                                            </li>
                                                        </ul>

                                                        <div>
                                                            <input type="submit" value="Zastosuj">
                                                        </div>
                                                    {%- when 'list' -%}
                                                        <ul>
                                                            {%- for filter_value in filter.values -%}
                                                                <li>
                                                                    <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                                                                        <input type="checkbox"
                                                                               name="{{ filter_value.param_name }}"
                                                                               value="{{ filter_value.value }}"
                                                                               id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                                                               {% if filter_value.active -%}checked{%- endif %}
                                                                            {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                                                        >
                                                                        <span>
                                                                            {%- case filter_value.display.type -%}
                                                                                {%- when 'colors' -%}
                                                                                {% liquid
                                                                                    assign size_limit = filter_value.display.value.size | at_most: 4
                                                                                    assign rotation = '0deg'
                                                                                    if size_limit == 2
                                                                                        assign rotation = '45deg'
                                                                                    endif

                                                                                    assign angle_increment = 360 | divided_by: size_limit
                                                                                    assign angle = 0
                                                                                %}
                                                                                {%- capture conic_gradient -%}
                                                                                    {%- for color in filter_value.display.value limit: size_limit -%}
                                                                                        {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                                                                                    {%- endfor -%}
                                                                                {%- endcapture -%}
                                                                                <span style="
                                                                                        width: 25px;
                                                                                        height: 25px;
                                                                                        border-radius: 50%;
                                                                                        display: flex;
                                                                                        justify-content: center;
                                                                                        align-items: center;
                                                                                        background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                                                                                        "></span>
                                                                                {%- when 'image' -%}
                                                                                    {{
                                                                                    filter_value.display.value
                                                                                    | image_url: width: 25
                                                                                    | image_tag: alt: filter_value.display.value.alt
                                                                                    }}
                                                                                {%- else -%}
                                                                                    <span class="visual-display__child"></span>
                                                                            {%- endcase -%}
                                                                        </span>
                                                                        {{ filter_value.label }}
                                                                    </label>
                                                                </li>
                                                            {%- endfor -%}
                                                        </ul>

                                                        <div>
                                                            <input type="submit" value="Zastosuj">
                                                        </div>
                                                    {%- when 'price_range' -%}
                                                        <div class="filter-group-display__price-range">
                                                            <div class="filter-group-display__price-range-from">
                                                                <label for="Filter-{{ filter.min_value.param_name }}">Od</label>

                                                                <input name="{{ filter.min_value.param_name }}"
                                                                       id="Filter-{{ filter.min_value.param_name }}"
                                                                        {% if filter.min_value.value -%}
                                                                            value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                                                        {%- endif %}
                                                                       type="number"
                                                                       placeholder="0"
                                                                       min="0"
                                                                       max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                >

                                                                <span>{{ cart.currency.symbol }}</span>
                                                            </div>
                                                            <div class="filter-group-display__price-range-to">
                                                                <label for="Filter-{{ filter.max_value.param_name }}">Do</label>

                                                                <input name="{{ filter.max_value.param_name }}"
                                                                       id="Filter-{{ filter.max_value.param_name }}"
                                                                        {% if filter.max_value.value -%}
                                                                            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                                                        {%- endif %}
                                                                       type="number"
                                                                       placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                       min="0"
                                                                       max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                >

                                                                <span>{{ cart.currency.symbol }}</span>
                                                            </div>
                                                        </div>

                                                        <div class="filter-group-display__submit">
                                                            <input type="submit" value="Zastosuj">
                                                        </div>
                                                {%- endcase -%}
                                            </div>
                                        </details>
                                    {%- endfor -%}
                                </form>
                            </div>
                        </div>
                        <div> PRODUKTY</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

</script>

<script type="text/javascript" src="{{ 'filters.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Filtry kolekcji",
  "settings": [
    {
      "type": "richtext",
      "id": "filtry-kolekcji",
      "label": "Filtry kolekcji"
    }
  ],
  "presets": [
    {
      "name": "Filtry kolekcji"
    }
  ]
}
{% endschema %}