<div class="padding-global">
  <div class="container-large">
    <div class="padding-section-medium">
      <div class="footer_newsletter-wrapper">
        <div class="footer_newsletter-text-wrapper">
          <div>
            <div class="text-size-large text-weight-bold">Masz pytania? Chcesz zamówić przez telefon?</div>
            <a href="tel:{{ shop.phone }}" class="text-size-large text-weight-bold">
              {{ shop.phone }}
            </a>
          </div>
          <div>
            <div class="text-size-large text-weight-bold">Dział opon, kół, felg:</div>
            <div style="display: flex; flex-direction: column">
              <a href="tel:+48 698 622 622" class="text-size-large text-weight-bold">
                +48 698 622 622
              </a>
              <a href="tel:+48 698 668 888" class="text-size-large text-weight-bold">
                +48 698 668 888
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="padding-bottom padding-xxlarge">
        <div class="footer_top-wrapper">
          {% for block in section.blocks %}
            {% if block.type == 'navigation' %}
              <div class="footer_link-list">
                <div class="margin-bottom margin-xsmall">
                  <div class="text-weight-semibold">{{ block.settings.link-list.title }}</div>
                </div>
                {% for link in block.settings.link-list.links %}
                  <a href="{{ link.url }}" class="footer_link">{{ link.title }}</a>
                {% endfor %}
              </div>
            {% elsif block.type == 'brand-info' %}
              <div class="footer_link-list">
                <div class="margin-bottom margin-xsmall">
                  <div class="text-weight-semibold">{{ block.settings.heading }}</div>
                </div>
                <div class="footer_info-wrapper">
                  <div class="icon-embed-xsmall"><img src="{{ 'IcRoundLocationOn.svg' | asset_url }}" /></div>
                  <div>{{ block.settings.adress }}</div>
                </div>
                <div class="margin-top margin-xsmall">
                  <div class="footer_info-wrapper">
                    <div class="icon-embed-xsmall"><img src="{{ 'IcRoundAccessTimeFilled.svg' | asset_url }}" /></div>
                    <div>{{ block.settings.open-hours }}</div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="line-divider"></div>
      <div class="padding-top padding-medium">
        <div class="footer_bottom-wrapper">
          <div class="footer_legal-list">
            <div class="footer_credit-text">{{ section.settings.copyright }}</div>
            <div class="footer_credit-text">{{ section.settings.company-data }}</div>
          </div>
          <a href="https://flipico.agency/" class="footer_legal-link">Projekt, wykonanie i obsługa informatyczna realizowana przez flipico.agency</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}

  {
    "name": "Stopka",
    "tag": "footer",
    "class": "footer_component background-color-grayiron100",
    "settings": [
      {
        "id": "copyright",
        "label": "Copyright",
        "type": "text"
      }, {
        "id": "company-data",
        "label": "Dane Firmy",
        "type": "text"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "name": "Kolumna Nawigacji",
        "type": "navigation",
        "settings": [
          {
            "type": "link_list",
            "id": "link-list",
            "label": "Menu Nawigacji"
          }
        ]
      }, {
        "name": "Kolumna Firmowa",
        "type": "brand-info",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "tytuł"
          }, {
            "type": "richtext",
            "id": "open-hours",
            "label": "Godziny otwarcia"
          }, {
            "type": "richtext",
            "id": "adress",
            "label": "Adres"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Stopka"
      }
    ]
  }


{% endschema %}


{% stylesheet %}

  .footer_component {
    border-top: 1px solid var(--color-grayiron--grayiron400);
  }

  .footer_info-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    display: flex;
    width: 100%;
  }

  .footer_newsletter-text-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-direction: column;
  }

  .footer_bottom-wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .footer_link-list {
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
    align-items: flex-start;
    justify-items: start;
    display: flex;
  }

  .footer_legal-link {
    font-size: 0.875rem;
    text-decoration: underline;
  }

  .footer_social-link {
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    display: flex;
  }

  .footer_credit-text {
    font-size: 0.875rem;
  }

  .footer_logo-link {
    padding-left: 0;
  }

  .footer_legal-list {
    gap: 0.5rem;
    white-space: normal;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
  }

  .footer_link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    text-decoration: none;
    color: var(--color-red--red600);
  }

  .footer_top-wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    align-items: start;
    grid-auto-columns: 1fr;
    display: grid;
    grid-auto-flow: column;
  }

  .footer_social-icons {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0;
    white-space: normal;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: start;
    justify-items: start;
    display: grid;
  }

  .footer_newsletter-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5rem;
    display: flex;
  }

  @media screen and (max-width: 991px) {

    .footer_bottom-wrapper {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .footer_newsletter-text-wrapper {
      margin-bottom: 1.5rem;
    }

    .footer_top-wrapper {
      grid-row-gap: 3rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: row;
    }

    .footer_social-icons {
      margin-bottom: 2rem;
    }

    .footer_newsletter-wrapper {
      justify-content: flex-start;
      margin-bottom: 4.5rem;
      display: block;
    }
  }
  @media screen and (max-width: 767px) {

    .footer_bottom-wrapper {
      flex-direction: column-reverse;
      align-items: flex-start;
      padding-bottom: 1rem;
    }

    .footer_credit-text {
      margin-top: 1rem;
    }

    .footer_legal-list {
      grid-column-gap: 0;
      grid-row-gap: 1rem;
      grid-auto-flow: row;
    }

    .footer_top-wrapper {
      grid-row-gap: 2.5rem;
    }

    .footer_newsletter-wrapper {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 3rem;
    }

    .footer_newsletter-text-wrapper {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 479px) {

    .footer_top-wrapper {
      grid-row-gap: 2.5rem;
      grid-template-columns: 1fr;
    }
  }

{% endstylesheet %}