<div class="navbar7_container w-nav" data-animation="default" data-easing2="ease" data-easing="ease" data-collapse="medium">
    <div class="navbar7_menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button"
         tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
        <div class="menu-icon">
            <div class="menu-icon_line-top"></div>
            <div class="menu-icon_line-middle">
                <div class="menu-icon_line-middle-inner"></div>
            </div>
            <div class="menu-icon_line-bottom"></div>
        </div>
    </div>
    <a class="navbar7_logo-link w-nav-brand"
       href="{{ shop.secure_url }}">{{ shop.brand.logo | image_url: height: 70 | image_tag: class: "navbar7_logo" }}</a>
    <nav role="navigation" class="navbar7_menu w-nav-menu">
        <div class="navbar7_menu-left" style="display: flex">
            {% assign menu_titles = "Opony,Felgi,Koła" | split: "," %}

            {% for menu_title in menu_titles %}
                <div class="navbar7_menu-dropdown w-dropdown" data-hover="true" data-delay="300">
                    <div class="navbar7_dropdown-toggle w-dropdown-toggle" aria-controls="w-dropdown-list-{{ forloop.index }}" aria-haspopup="menu" aria-expanded="false">
                        <div class="text-weight-semibold">{{ menu_title }}</div>
                        <div class="dropdown-chevron" style="transform: translate3d(5px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            {% render 'select-arrow' %}
                        </div>
                    </div>
                    <nav class="navbar7_dropdown-list w-dropdown-list"
                         id="w-dropdown-list-{{ forloop.index }}"
                         aria-labelledby="w-dropdown-toggle-{{ forloop.index }}"
                         style="opacity: 1;">
                        <div class="navbar7_container-dropdown">
                            <div class="navbar7_dropdown-content">
                                {% case forloop.index %}
                                    {% when 1 %}
                                        <div class="navbar7_dropdown-content-left">
                                            {% assign vehicle_types = "Samochodowe,SUV,Motocyklowe,Ciężarowe,Dostawcze,Run Flat" | split: "," %}
                                            {% assign season_types = "Letnie,Zimowe,Całoroczne" | split: "," %}
                                            {% assign popular_sizes = "175/65 R14,185/65 R15,195/65 R15,205/55 R16,205/60 R16,225/45 R17" | split: "," %}
                                            {% assign tire_titles = "Opony według pojazdu,Opony Według Sezonu,Popularne Rozmiary Opon, Opony Według Producenta" | split: "," %}

                                            {% assign tire_classes = "Klasa Premium,Klasa Średnia,Klasa Ekonomiczna,Pozostałe" | split: "," %}
                                            {% assign premium_manufacturers = "Michelin,Continental,Bridgestone,Pirelli,Goodyear" | split: "," %}
                                            {% assign midrange_manufacturers = "Hankook,Yokohama,Falken,Kumho,Firestone" | split: "," %}
                                            {% assign economy_manufacturers = "Nankang,Kenda,Debica,Sava,Barum" | split: "," %}
                                            {% assign other_manufacturers = "Cooper,Tigar,Uniroyal,Fulda,General Tire" | split: "," %}
                                            {% assign tire_manufacturers = premium_manufacturers | concat: midrange_manufacturers | concat: economy_manufacturers | concat: other_manufacturers %}

                                            {% for tire_title in tire_titles %}
                                                <div class="navbar7_dropdown-link-list">
                                                    <h4 class="heading-style-h6">{{ tire_title }}</h4>
                                                    {% case forloop.index %}
                                                        {% when 1 %}
                                                            {% for vehicle_type in vehicle_types %}
                                                                <a href="#" class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                                                    <div class="navbar7_icon-wrapper"></div>
                                                                    <div class="navbar7_item-text">
                                                                        <div>Opony {{ vehicle_type }}</div>
                                                                    </div>
                                                                </a>
                                                            {% endfor %}
                                                        {% when 2 %}
                                                            {% for season_type in season_types %}
                                                                <a href="#" class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                                                    <div class="navbar7_icon-wrapper"></div>
                                                                    <div class="navbar7_item-text">
                                                                        <div>Opony {{ season_type }}</div>
                                                                    </div>
                                                                </a>
                                                            {% endfor %}
                                                        {% when 3 %}
                                                            {% for size in popular_sizes %}
                                                                <a href="#" class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                                                    <div class="navbar7_item-text">
                                                                        <div>Opony {{ size }}</div>
                                                                    </div>
                                                                </a>
                                                            {% endfor %}
                                                        {% when 4 %}
                                                            {% for i in (0..tire_classes.size) %}
                                                                {% assign class = tire_classes[i] %}
                                                                {% assign start_index = i | times: 5 %}
                                                                {% assign manufacturers = tire_manufacturers | slice: start_index, 5 %}
                                                                <h4 class="heading-style-h6 text-size-regular">{{ class }}</h4>
                                                                {% for manufacturer in manufacturers %}
                                                                    <a href="/opony/{{ manufacturer | slugify }}" class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                                                        <div class="navbar7_item-text">
                                                                            <div>{{ manufacturer }}</div>
                                                                        </div>
                                                                    </a>
                                                                {% endfor %}
                                                            {% endfor %}

                                                    {% endcase %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% when 2 %}
                                        <div class="navbar7_dropdown-content-rims">
                                            {% assign rims_titles = "Felgi Alumioniowe,Felgi Stalowe,Felgi Motocyklowe" | split: "," %}

                                            {% for rim_title in rims_titles %}
                                                {% assign href_slug = rim_title | slugify %}
                                                <a href="/{{ href_slug }}" class="link-block-2 w-inline-block" tabindex="0">
                                                    <div class="div-block-26">
                                                        {% comment %}
                                                        <img
                                                            src="https://assets-global.website-files.com/65945aac2ee770034538c7f4/65b3c68ab329b571e66b8e98_FelgiAluminiowe.webp"
                                                            loading="lazy" sizes="100vw"
                                                            srcset="https://assets-global.website-files.com/65945aac2ee770034538c7f4/65b3c68ab329b571e66b8e98_FelgiAluminiowe-p-500.webp 500w, https://assets-global.website-files.com/65945aac2ee770034538c7f4/65b3c68ab329b571e66b8e98_FelgiAluminiowe.webp 720w"
                                                            alt="" class="image-3">
                                                        {% endcomment %}
                                                    </div>
                                                    <div class="heading-style-h5 text-align-center">{{ rim_title }}</div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% when 3 %}
                                        {% comment %} Case for Wheels {% endcomment %}
                                {% endcase %}
                            </div>
                        </div>
                        <div class="navbar7_bottom-bar">
                            <div class="navbar7_bottom-bar-background-layer"></div>
                            <div class="navbar7_bottom-bar-left">
                                {% case forloop.index %}
                                    {% when 1 %}
                                        <p class="text-weight-semibold">Polecamy</p>
                                        <a href="#" class="text-style-link" tabindex="0">Artykuły</a>
                                        <a href="#" class="text-style-link" tabindex="0">Testy Opon</a>
                                        <a href="#" class="text-style-link" tabindex="0">Producenci Opon</a>
                                        <a href="#" class="text-style-link" tabindex="0">Dobór Opon Do Pojazdu</a>
                                    {% when 2 %}
                                        <a href="#" class="text-style-link" tabindex="0">Dobór Felg Do Pojazdu</a>
                                    {% when 3 %}
                                        <a href="#" class="text-style-link" tabindex="0">Dobór Kół Do Pojazdu</a>
                                {% endcase %}
                            </div>
                        </div>
                    </nav>
                </div>
            {% endfor %}
        </div>
        <form action="/search" class="search w-form">
            <input class="form-input w-input"
                   maxlength="256"
                   name="query"
                   placeholder="Czego szukasz?"
                   type="search" id="search"
                   required="">
            <input type="submit" class="button is-small w-button" value="Szukaj">
        </form>
    </nav>
    <div class="navbar7_menu-right">
        {% comment %} Contact button {% endcomment %}
        <div data-hover="false" data-delay="200" class="navbar-dropdown8_component w-dropdown">
            <div class="navbar-dropdown8_dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-3"
                 aria-controls="w-dropdown-list-3" aria-haspopup="menu" aria-expanded="false" role="button"
                 tabindex="0">
                <div class="icon-1x1-nav">
                    <img src="{{ 'IcRoundPhoneBlack.svg' | asset_url }}"  alt="contact-button"/>
                </div>
            </div>
            <nav class="navbar-dropdown8_dropdown-list w-dropdown-list" id="w-dropdown-list-3" aria-labelledby="w-dropdown-toggle-3"
                    {% comment %}style="transform: translate3d(0px, 3rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;"{% endcomment %}
            >
                {% comment %} Contact modal {% endcomment %}
                <div class="navbar-dropdown8_dropdown-wrapper">
                    <div class="text-weight-bold">W&nbsp;czym możemy pomóc?</div>
                    <a href="#" class="button is-small w-button" tabindex="0">+48 74 872 32 61</a>
                    <div class="margin-top margin-xsmall">
                        <div class="text-weight-bold">Napisz nam wiadomość</div>
                    </div>
                    <a href="#" class="button is-secondary is-small w-button" tabindex="0">sklep@motom5.pl</a>
                </div>
            </nav>
        </div>

        {% comment %} Account button {% endcomment %}
        <div data-hover="false" data-delay="200"
             class="navbar-dropdown8_component w-dropdown">
            <div class="navbar-dropdown8_dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-4"
                 aria-controls="w-dropdown-list-4" aria-haspopup="menu" aria-expanded="false" role="button"
                 tabindex="0">
                <div class="icon-1x1-nav">
                    <img src="{{ 'IcRoundAccountBlack.svg' | asset_url }}"  alt="account-button"/>
                </div>
            </div>

            {% comment %} Contact modal {% endcomment %}
            <nav class="navbar-dropdown8_dropdown-list w-dropdown-list" id="w-dropdown-list-4"
                 aria-labelledby="w-dropdown-toggle-4"
                 style="transform: translate3d(0px, 3rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                <div class="navbar-dropdown8_dropdown-wrapper">
                    <a href="/logowanie" class="button is-small w-button" tabindex="0">Zaloguj się</a>
                    <div class="margin-top margin-xsmall">
                        <div class="text-align-center">Nie masz konta?</div>
                    </div>
                    <a href="/rejestracja" class="button is-secondary is-small w-button" tabindex="0">Zarejestruj się</a></div>
            </nav>
        </div>

        {% comment %} Cart button {% endcomment %}
        <div class="div-block-5">
            <a href="/cart" id="cart-button" class="button is-small is-icon w-inline-block">
                <div class="icon-1x1-nav">
                    <img src="{{ 'IcRoundCartWhite.svg' | asset_url }}"  alt="cart-button"/>
                </div>
                <div class="hide-mobile-portrait">Koszyk</div>
                <div class="cart-button-counter">
                    <div class="text-block-2">{{ cart.item_count }}</div>
                </div>
            </a>
            {% comment %} MODAL CART CONTINUE SHOPPING OR GO TO CART {% endcomment %}
            <div class="modal2_component" style="display: none;">
                <div class="modal2_content-wrapper"
                     {% comment %}style="transform: translate3d(100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"{% endcomment %}
                >
                    <div class="margin-bottom margin-large">
                        <div class="text-align-center">
                            <div class="max-width-large align-center">
                                <div class="margin-bottom margin-xsmall">
                                    <h2>Koszyk</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="free-shipping-checker">
                        <div class="shipping-progress-wrapper">
                            <div class="shipping-progress-bar" style="width: 45%;"></div>
                        </div>
                        <div class="shipping-text-wrapper">
                            <div class="shipping-text" style="display: flex;">
                                <div class="free-shipping-text">Jesteś</div>
                                <div class="free-shipping-text remaining-amount">660.00 zł</div>
                                <div class="free-shipping-text">od<span class="text-bold"></span></div>
                                <div class="free-shipping-text"><span class="text-bold">DARMOWEJ&nbsp;DOSTAWY</span>
                                </div>
                            </div>
                            <div class="shipping-text hide-shipping" style="display: none;">
                                <div class="free-shipping-text">Brawo!</div>
                                <div class="free-shipping-text">Masz</div>
                                <div class="free-shipping-text"><strong>darmową</strong></div>
                                <div class="free-shipping-text"><strong>dostawę!</strong></div>
                            </div>
                        </div>
                    </div>
                    <div wized="cart_loader" class="loader_wrapper" style="display: none;">
                        <div class="loader_icon w-embed">
                            <div class="loader-icon"></div>
                        </div>
                    </div>
                    <div wized="cart_empty" class="empty-cart_wrapper" style="display: none;">
                        <div class="heading-style-h6">Twój koszyk jest pusty!</div>
                        <p>Przejdź do sklepu i znajdź opony dla siebie, a następnie dodaj je do tego koszyka i kup je <strong>szybko i wygodnie!</strong></p>
                        <a href="/szukaj" class="button is-icon w-inline-block">
                            <div class="icon-embed-xsmall w-embed">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     aria-hidden="true" role="img" class="iconify iconify--ic" width="100%"
                                     height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                          d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42a.996.996 0 0 0-1.41 0l-6.59 6.59a.996.996 0 0 0 0 1.41l6.59 6.59a.996.996 0 1 0 1.41-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1"></path>
                                </svg>
                            </div>
                            <div>Wróć do sklepu</div>
                        </a>
                    </div>
                    <div id="cart-button-close" class="modal2_close-button w-inline-block">
                        <img src="https://assets-global.website-files.com/624380709031623bfe4aee60/624380709031623afe4aee7e_icon_close-modal.svg" loading="lazy" alt="">
                    </div>
                    <div data-lenis-prevent=""
                         fs-scrolldisable-element="preserve"
                         wized="cart_filled"
                         class="cart_form w-form"
                         w-el-visibility="block"
                         style="display: block;">
                        <form class="cart_products-wrapper">
                            <div wized="cart_item" class="cart_product"
                                 data-attribute-id="gid://shopify/Product/7953690165415"
                                 w-el-list-display="flex"
                                 w-list-index-variable="index"
                                 w-list-index-value="0"
                                 w-el-data-attribute-id="undefined"
                                 style="display: flex;">
                                <img class="cart_product-image"
                                     src="https://cdn.shopify.com/s/files/1/0625/1783/7991/files/65a69051fa9a5f9b2328b106_PrzykladowaOpona_1ebed3ba-58f8-45c5-9bef-dbd39b077ae0.webp?v=1709658827"
                                     wized="cart_item_image" alt="" sizes="100vw" loading="lazy"
                                     srcset="https://cdn.shopify.com/s/files/1/0625/1783/7991/files/65a69051fa9a5f9b2328b106_PrzykladowaOpona_1ebed3ba-58f8-45c5-9bef-dbd39b077ae0.webp?v=1709658827"
                                     w-el-src="https://assets-global.website-files.com/65945aac2ee770034538c7f4/65988365e5c7559a6c2dcbbf_pexels-aliona-zueva-10903300.jpg"
                                     w-el-srcset="https://assets-global.website-files.com/65945aac2ee770034538c7f4/65988365e5c7559a6c2dcbbf_pexels-aliona-zueva-10903300-p-500.jpg 500w, https://assets-global.website-files.com/65945aac2ee770034538c7f4/65988365e5c7559a6c2dcbbf_pexels-aliona-zueva-10903300-p-800.jpg 800w, https://assets-global.website-files.com/65945aac2ee770034538c7f4/65988365e5c7559a6c2dcbbf_pexels-aliona-zueva-10903300-p-1080.jpg 1080w, https://assets-global.website-files.com/65945aac2ee770034538c7f4/65988365e5c7559a6c2dcbbf_pexels-aliona-zueva-10903300-p-1600.jpg 1600w, https://assets-global.website-files.com/65945aac2ee770034538c7f4/65988365e5c7559a6c2dcbbf_pexels-aliona-zueva-10903300-p-2000.jpg 2000w, https://assets-global.website-files.com/65945aac2ee770034538c7f4/65988365e5c7559a6c2dcbbf_pexels-aliona-zueva-10903300-p-2600.jpg 2600w, https://assets-global.website-files.com/65945aac2ee770034538c7f4/65988365e5c7559a6c2dcbbf_pexels-aliona-zueva-10903300-p-3200.jpg 3200w, https://assets-global.website-files.com/65945aac2ee770034538c7f4/65988365e5c7559a6c2dcbbf_pexels-aliona-zueva-10903300.jpg 3294w">
                                <div class="cart_product-details">
                                    <div wized="cart_item_name" class="cart_product-name"
                                         w-el-text="Monstera Deliciosa">Opony zimowe 255/40 Pirelli Sottozero
                                    </div>
                                    <div class="cart_product-quantity-wrapper">
                                        <div class="cart_product-quantity">
                                            <div wized="cart_decreament" class="cart_product-decreament">
                                                <div>-</div>
                                            </div>
                                            <input class="cart_product-quantity-input w-input"
                                                   wized="cart_item_quantity" maxlength="256" name="field-7"
                                                   data-name="Field 7" placeholder="" type="number" id="field-7"
                                                   required="">
                                            <div wized="cart_increament" class="cart_product-increament">
                                                <div>+</div>
                                            </div>
                                        </div>
                                        <a wized="cart_remove_item" href="#" class="cart_remove-product">USUŃ</a></div>
                                </div>
                                <div wized="cart_item_total" class="heading-style-h6 text-color-red600" w-el-text="zł35.00">540 zł</div>
                                <div class="cart_product-loader">
                                    <div class="loader_icon w-embed">
                                        <div class="loader-icon"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="cart_subtotal-wrapper">
                            <div class="cart_subtotal-header-wrapper">
                                <div class="heading-style-h6">Suma</div>
                                <div wized="subtotal_price" class="heading-style-h6 text-color-red600">540.00 zł</div>
                            </div>
                            <div class="spacing-8px"></div>
                            <div class="cart_subtotal-shipping-wrapper">
                                <div>Dostawa</div>
                                <div>Kalkulowana w podsumowaniu</div>
                            </div>
                            <div class="spacing-24px"></div>
                            <a wized="checkout_button" href="#" class="button w-inline-block">
                                <div>Podsumowanie</div>
                                <div wized="checkout_loader" class="loader_icon w-embed" w-el-visibility="flex"
                                     style="display: none;">
                                    <div class="loader-icon"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal2_background-overlay div-block-7" style="opacity: 0;"></div>
            </div>
        </div>
    </div>
</div>
<div class="w-nav-overlay" id="w-nav-overlay-0" style="display: none">
    <ul class="menu">
        {% for link in section.settings.menu.links %}
            <li class="menu-link">
                <a href="{{ link.url }}">{{ link.title }}</a>

                {% if link.links.size > 0 %}
                    <ul class="menu dropdown-child">
                        {% for child_link in link.links %}
                            <li class="menu-link">
                                <a href="{{ child_link.url }}">{{ child_link.title }}</a>

                                {% if child_link.links.size > 0 %}
                                    <ul class="menu dropdown-grandchild">
                                        {% for grandchild_link in child_link.links %}
                                            <li class="menu-link">
                                                <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{% comment %} Nav menu {% endcomment %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const menuButton = document.querySelector('.navbar7_menu-button');
        const navOverlay = document.getElementById('w-nav-overlay-0');
        const navMenu = document.querySelector('.navbar7_menu');
        const originalParent = navMenu.parentNode;

        menuButton.addEventListener('click', function() {
            const isExpanded = menuButton.getAttribute('aria-expanded') === 'true';
            if (!isExpanded) {
                // Przenieś menu do overlay i pokaż overlay
                navOverlay.appendChild(navMenu);
                navOverlay.style.display = 'block';
                menuButton.setAttribute('aria-expanded', 'true');
            } else {
                // Przywróć menu do pierwotnej lokalizacji i ukryj overlay
                originalParent.appendChild(navMenu);
                navOverlay.style.display = 'none';
                menuButton.setAttribute('aria-expanded', 'false');
            }
        });

        // Obsługa kliknięcia poza menu, aby zamknąć
        document.addEventListener('click', function(event) {
            if (!menuButton.contains(event.target) && !navMenu.contains(event.target)) {
                if (menuButton.getAttribute('aria-expanded') === 'true') {
                    originalParent.appendChild(navMenu);
                    navOverlay.style.display = 'none';
                    menuButton.setAttribute('aria-expanded', 'false');
                }
            }
        });
    });
</script>

{% comment %} Dropdowns {% endcomment %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const dropdownToggles = document.querySelectorAll('.navbar7_dropdown-toggle');

        function toggleDropdown(dropdownList, toggle) {
            const isOpen = dropdownList.classList.contains('w--open');
            const allDropdownLists = document.querySelectorAll('.navbar7_dropdown-list.w--open');
            allDropdownLists.forEach(list => {
                list.classList.remove('w--open');
                list.style.transform = '';
            });

            if (!isOpen) {
                const rect = toggle.getBoundingClientRect();
                const screenWidth = window.innerWidth;
                const toggleCenter = rect.left + rect.width / 2;

                dropdownList.classList.add('w--open');
                const dropdownWidth = dropdownList.offsetWidth;

                const translateXValue = toggleCenter - (screenWidth / 2) + (dropdownWidth / 2) - (rect.width / 2);
                dropdownList.style.transform = `translateX(-${translateXValue}px)`;
            }
        }

        dropdownToggles.forEach(toggle => {
            toggle.addEventListener('click', function(event) {
                event.preventDefault();
                event.stopPropagation();
                const dropdownListId = this.getAttribute('aria-controls');
                const dropdownList = document.getElementById(dropdownListId);
                toggleDropdown(dropdownList, this.parentElement);
            });
        });

        document.addEventListener('click', function(event) {
            if (!event.target.closest('.navbar7_menu-dropdown')) {
                const allDropdownLists = document.querySelectorAll('.navbar7_dropdown-list.w--open');
                allDropdownLists.forEach(list => {
                    list.classList.remove('w--open');
                    list.style.transform = '';
                });
            }
        });
    });
</script>

{% schema %}
{
  "name": "Nawigacja",
  "tag": "header",
  "class": "navbar7_component",
  "settings": [
    {
      "id": "copyright",
      "label": "Copyright",
      "type": "text"
    },
    {
      "id": "company-data",
      "label": "Dane Firmy",
      "type": "text"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "name": "Kolumna Nawigacji",
      "type": "navigation",
      "settings": [
        {
          "type": "link_list",
          "id": "link-list",
          "label": "Menu Nawigacji"
        }
      ]
    },
    {
      "name": "Kolumna Firmowa",
      "type": "brand-info",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "tytuł"
        },
        {
          "type": "richtext",
          "id": "open-hours",
          "label": "Godziny otwarcia"
        },
        {
          "type": "richtext",
          "id": "adress",
          "label": "Adres"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Stopka"
    }
  ]
}

{% endschema %}

{% stylesheet %}
  .navbar7_item-text,
  .navbar7_item-right {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .navbar7_dropdown-link {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0;
    color: var(--color--black);
    grid-template-rows: auto;
    grid-template-columns: max-content 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    display: flex;
  }

  .navbar7_dropdown-link:hover {
    color: var(--color-red--red600);
    font-weight: 600;
  }

  .navbar7_dropdown-link:active {
    color: var(--color-red--red800);
  }

  .navbar7_dropdown-link-list {
    grid-column-gap: 0;
    grid-row-gap: 1rem;
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .navbar7_container {
    width: 100%;
    height: 100%;
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .navbar7_bottom-bar-left {
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: max-content minmax(max-content, 1fr);
    grid-auto-columns: 1fr;
    display: flex;
    position: relative;
  }

  .navbar7_dropdown-content {
    width: 100%;
    display: flex;
  }

  .navbar7_icon-wrapper {
    flex: none;
  }

  .navbar7_dropdown-list.w--open {
    width: 100vw;
    {% comment %}max-width: 100%;{% endcomment %}
    background-color: #fff;
    border-bottom: 1px solid #000;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    display: block;
  }

  .navbar7_dropdown-content-left {
    grid-column-gap: 2rem;
    grid-row-gap: 0;
    flex: 1;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    display: grid;
  }

  .navbar7_menu-right {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: flex;
  }

  .navbar7_menu-dropdown {
    position: static;
  }

  .navbar7_logo-link {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    padding-left: 0;
    display: flex;
  }

  .navbar7_menu {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
    display: flex;
    position: static;
  }

  .navbar7_bottom-bar-background-layer {
    width: 200vw;
    background-color: var(--color-red--red100);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50vw;
    right: -50vw;
  }

  .navbar7_bottom-bar {
    width: 100%;
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    position: relative;
  }

  .navbar7_component {
    width: 100%;
    height: 4.5rem;
    border-bottom: 1px solid var(--color-grayiron--grayiron400);
    background-color: var(--color--white);
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .navbar7_logo {
    width: 10rem;
    object-fit: contain;
  }

  .navbar7_dropdown-toggle {
    grid-column-gap: 0.5rem;
    align-items: center;
    padding: 1.5rem 0.5rem;
    display: flex;
  }

  .navbar7_bottom-bar-right {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    display: flex;
    position: relative;
  }

  .navbar-dropdown8_component {
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-dropdown8_dropdown-toggle {
    grid-column-gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    display: flex;
  }

  .navbar-dropdown8_dropdown-list.w--open {
    width: 20rem;
    background-color: var(--color--white);
    border: 1px solid #000;
    border-radius: 0.5rem;
    padding: 1.5rem;
    top: 4.5rem;
    right: -8.5rem;
  }

  .navbar-dropdown8_dropdown-wrapper {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    flex-direction: column;
    display: flex;
  }

  .navbar7_dropdown-link-list-wide {
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .navbar7_container-dropdown {
    width: 100%;
    height: 100%;
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .navbar7_dropdown-content-rims {
    grid-column-gap: 2rem;
    grid-row-gap: 0;
    flex: 1;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    display: grid;
  }

  @media screen and (max-width: 991px) {

    .navbar7_dropdown-link-list {
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }

    .navbar7_container {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      grid-template-rows: auto;
      grid-template-columns: max-content 1fr max-content;
      grid-auto-columns: 1fr;
      justify-content: flex-start;
      display: grid;
    }

    .navbar7_bottom-bar-left {
      width: 100%;
      grid-column-gap: 2rem;
      grid-row-gap: 1rem;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-columns: 1fr;
      margin-bottom: 1rem;
      display: grid;
    }

    .navbar7_dropdown-content {
      flex-direction: column;
    }

    .navbar7_dropdown-list {
      position: relative;
      overflow: hidden;
    }

    .navbar7_dropdown-list.w--open {
      border-style: none;
      align-items: flex-start;
      padding: 0;
      position: relative;
      top: 0;
    }

    .navbar7_dropdown-content-left {
      grid-row-gap: 2rem;
      grid-template-columns: 1fr 1fr;
      align-content: start;
      align-items: start;
      padding-left: 0;
      padding-right: 0;
    }

    .navbar7_menu-right {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
    }

    .navbar7_menu-dropdown {
      width: 100%;
    }

    .navbar7_menu {
      height: 100 dvh;
      background-color: var(--color--white);
      -webkit-text-fill-color: inherit;
      background-clip: border-box;
      border-bottom: 1px solid #000;
      align-items: flex-start;
      margin-left: 0;
      padding: 1rem 2rem 6.5rem;
      transition: height 0.5s;
      position: absolute;
      overflow: auto;
    }

    .navbar7_bottom-bar {
      flex-direction: column;
      margin-bottom: 1.5rem;
      padding: 1.5rem;
    }

    .navbar7_component {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .navbar7_dropdown-toggle {
      align-items: center;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      padding-left: 0;
      font-size: 1.125rem;
      display: flex;
    }

    .navbar7_menu-button.w--open {
      background-color: rgba(0, 0, 0, 0);
    }

    .navbar-dropdown8_component {
      width: 100%;
      font-size: 1.125rem;
    }

    .navbar-dropdown8_dropdown-toggle {
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 0;
      display: flex;
    }

    .navbar-dropdown8_dropdown-list {
      position: static;
      overflow: hidden;
    }

    .navbar-dropdown8_dropdown-list.w--open {
      width: auto;
      border-style: none;
      padding: 0;
    }

    .navbar7_dropdown-content-rims {
      grid-row-gap: 2rem;
      grid-template-columns: 1fr 1fr;
      align-content: start;
      align-items: start;
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media screen and (max-width: 767px) {

    .navbar7_container-dropdown {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-auto-columns: 1fr;
      justify-content: flex-start;
      display: grid;
    }

    .navbar7_dropdown-link-list {
      max-width: none;
      grid-row-gap: 0.5rem;
      grid-template-columns: 1fr;
    }

    .navbar7_container {
      grid-column-gap: 0.5rem;
      grid-row-gap: 0.5rem;
    }

    .navbar7_dropdown-content-left {
      grid-row-gap: 1.5rem;
      flex-direction: column;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-auto-columns: 1fr;
    }

    .navbar7_menu {
      padding-bottom: 6rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .navbar7_component {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .navbar7_dropdown-link-list-wide {
      max-width: none;
      grid-row-gap: 0.5rem;
      grid-template-columns: 1fr 1fr;
    }

    .navbar7_container-dropdown {
      grid-column-gap: 0.5rem;
      grid-row-gap: 0.5rem;
    }

    .navbar7_dropdown-content-rims {
      grid-row-gap: 1.5rem;
      flex-direction: column;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-auto-columns: 1fr;
    }
  }

  @media screen and (max-width: 479px) {

    .navbar7_dropdown-link {
      padding-left: 0;
    }

    .navbar7_bottom-bar-left {
      grid-template-rows: auto auto;
      grid-template-columns: max-content;
    }

    .navbar7_dropdown-content-left {
      grid-template-columns: 1fr;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .navbar7_menu-right {
      grid-column-gap: 0.5rem;
      grid-row-gap: 0.5rem;
    }

    .navbar7_menu {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .navbar7_bottom-bar {
      align-items: flex-start;
    }

    .navbar7_component {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .navbar7_bottom-bar-right {
      width: 100%;
      flex-direction: column;
    }

    .navbar7_dropdown-link-list-wide {
      grid-template-columns: 1fr;
    }

    .navbar7_dropdown-content-rims {
      grid-template-columns: 1fr;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
{% endstylesheet %}