<div class="padding-global background-color-grayiron100">
  <div class="container-large">
    <div class="padding-section-xsmall">
      <div class="white-container">
        <div class="margin-bottom margin-medium">
          {% if section.settings.season_select == "Letnie" %}
            <div class="button-group">
              <img src="{{ 'IcRoundSun.svg' | asset_url }}" class="icon-embed-small">
              <h4>Opony {{ metaobject.name.value }} na sezon letni</h4>
            </div>
          {% elsif section.settings.season_select == "Zimowe" %}
            <div class="button-group">
              <img src="{{ 'IcRoundWinter.svg' | asset_url }}" class="icon-embed-small">
              <h4>Opony {{ metaobject.name.value }} na sezon zimowy</h4>
            </div>
          {% elsif section.settings.season_select == "Całoroczne" %}
            <div class="button-group">
              <img src="{{ 'IcRoundAllSeason.svg' | asset_url }}" class="icon-embed-small">
              <h4>Całoroczne opony {{ metaobject.name.value }}</h4>
            </div>
          {% elsif section.settings.season_select == "Popularne" %}
            <h4>Popularne rozmiary opon {{ metaobject.name.value }}</h4>
          {% elsif section.settings.season_select == "Popularne_felgi_srednica" %}
            <h4>Popularne średnice {{ page.title }}</h4>
          {% endif %}
        </div>
        <div class="link-list">
          {% if section.settings.season_select == "Letnie" %}
            {% for tire_model in shop.metaobjects.modele_opon.values %}
              {% if metaobject.name.value == tire_model.marka.value.name.value %}
                {% if tire_model.sezon.value == "Letnie" %}
                  <a class="text-size-small" href="{{ tire_model.system.url }}">
                    {{ metaobject.name.value }}
                    <span class="text-weight-bold">{{ tire_model.model.value }}</span>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% elsif section.settings.season_select == "Zimowe" %}
            {% for tire_model in shop.metaobjects.modele_opon.values %}
              {% if metaobject.name.value == tire_model.marka.value.name.value %}
                {% if tire_model.sezon.value == "Zimowe" %}
                  <a class="text-size-small" href="{{ tire_model.system.url }}">
                    {{ metaobject.name.value }}
                    <span class="text-weight-bold">{{ tire_model.model.value }}</span>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% elsif section.settings.season_select == "Całoroczne" %}
            {% for tire_model in shop.metaobjects.modele_opon.values %}
              {% if metaobject.name.value == tire_model.marka.value.name.value %}
                {% if tire_model.sezon.value == "Całoroczne" %}
                  <a class="text-size-small" href="{{ tire_model.system.url }}">
                    {{ metaobject.name.value }}
                    <span class="text-weight-bold">{{ tire_model.model.value }}</span>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% elsif section.settings.season_select == "Popularne" %}
            <a class="text-size-small" href="/collections/opony?filter.p.m.tires.width=205&filter.p.m.tires.profile=55&filter.p.m.tires.diameter=16{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Opony {{ metaobject.name.value }}
              <span class="text-weight-bold">205/55 R16</span>
            </a>
            <a class="text-size-small" href="/collections/opony?filter.p.m.tires.width=195&filter.p.m.tires.profile=65&filter.p.m.tires.diameter=15&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Opony {{ metaobject.name.value }}
              <span class="text-weight-bold">195/65 R15</span>
            </a>
            <a class="text-size-small" href="/collections/opony?filter.p.m.tires.width=225&filter.p.m.tires.profile=45&filter.p.m.tires.diameter=17&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Opony {{ metaobject.name.value }}
              <span class="text-weight-bold">225/45 R17</span>
            </a>
            <a class="text-size-small" href="/collections/opony?filter.p.m.tires.width=215&filter.p.m.tires.profile=65&filter.p.m.tires.diameter=16&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Opony {{ metaobject.name.value }}
              <span class="text-weight-bold">215/65 R16</span>
            </a>
            <a class="text-size-small" href="/collections/opony?filter.p.m.tires.width=205&filter.p.m.tires.profile=60&filter.p.m.tires.diameter=16&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Opony {{ metaobject.name.value }}
              <span class="text-weight-bold">205/60 R16</span>
            </a>
            <a class="text-size-small" href="/collections/opony?filter.p.m.tires.width=225&filter.p.m.tires.profile=50&filter.p.m.tires.diameter=17&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Opony {{ metaobject.name.value }}
              <span class="text-weight-bold">225/50 R17</span>
            </a>
            <a class="text-size-small" href="/collections/opony?filter.p.m.tires.width=225&filter.p.m.tires.profile=55&filter.p.m.tires.diameter=17&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Opony {{ metaobject.name.value }}
              <span class="text-weight-bold">225/55 R17</span>
            </a>
            <a class="text-size-small" href="/collections/opony?filter.p.m.tires.width=185&filter.p.m.tires.profile=65&filter.p.m.tires.diameter=15&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Opony {{ metaobject.name.value }}
              <span class="text-weight-bold">185/65 R15</span>
            </a>
            <a class="text-size-small" href="/collections/opony?filter.p.m.tires.width=215&filter.p.m.tires.profile=60&filter.p.m.tires.diameter=16&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Opony {{ metaobject.name.value }}
              <span class="text-weight-bold">215/60 R16</span>
            </a>
            <a class="text-size-small" href="/collections/opony?filter.p.m.tires.width=195&filter.p.m.tires.profile=55&filter.p.m.tires.diameter=16&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Opony {{ metaobject.name.value }}
              <span class="text-weight-bold">195/55 R16</span>
            </a>
            <a class="text-size-small" href="/collections/opony?filter.p.m.tires.width=175&filter.p.m.tires.profile=65&filter.p.m.tires.diameter=14&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Opony {{ metaobject.name.value }}
              <span class="text-weight-bold">175/65 R14</span>
            </a>
            <a class="text-size-small" href="/collections/opony?filter.p.m.tires.width=275&filter.p.m.tires.profile=30&filter.p.m.tires.diameter=20&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Opony {{ metaobject.name.value }}
              <span class="text-weight-bold">Test dla Remigiusza</span>
            </a>
          {% elsif section.settings.season_select == "Popularne_felgi_srednica" %}
            <a class="text-size-small" href="/collections/felgi?filter.p.m.tires.width=205&filter.p.m.tires.profile=55&filter.p.m.tires.diameter=16{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">{{ page.title }}
              <br><span class="text-size-large text-weight-bold">14 cali</span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Link list",
    "tag": "section",
    "class": "section_link-list",
    "disabled_on": {
      "groups": ["footer", "header"]
    },
    "settings": [
      {
        "type": "select",
        "id": "season_select",
        "label": "Wybierz Sezon",
        "options": [
          {
            "label": "Letnie",
            "value": "Letnie"
          },
          {
            "label": "Zimowe",
            "value": "Zimowe"
          },
          {
            "label": "Całoroczne",
            "value": "Całoroczne"
          },
          {
            "label": "Popularne Rozmiary Opon",
            "value": "Popularne"
          }, {
            "label": "Popularne Średnice Felg",
            "value": "Popularne_felgi_srednica"
          }
        ],
        "default": "Letnie"
      }
    ],
    "presets": [
      {
        "name": "Lista linków"
      }
    ]
  }
{% endschema %}

{% stylesheet %}

  .link-list {
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  @media screen and (max-width: 991px) {
    .link-list {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 767px) {
    .link-list {
      grid-row-gap: 0.75rem;
    }
  }

  @media screen and (max-width: 479px) {
    .link-list {
      grid-template-columns: 1fr;
      grid-auto-columns: 1fr;
    }
  }
{% endstylesheet %}