<div class="padding-global {{ section.settings.background }}">
  <div class="container-large">
    <div class="padding-section-{{ section.settings.padding }}">
      <div class="margin-bottom margin-medium">
        <div class="max-width-large">
          <div class="margin-bottom margin-small">
            <h2>
              {{ section.settings.heading }}
            </h2>
          </div>
          <p class="text-size-medium">
            {{ section.settings.text }}</p>
        </div>
      </div>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'list' %}
            <div class="margin-bottom margin-large">
              <div class="logo_list shadow-small">
                <h3 class="text-size-medium logo_list-tittle">{{ block.settings.text }}</h3>
                {% assign counter = 0 %}
                {% for metaobject in shop.metaobjects.brand_page_tires.values %}
                  {% if block.settings.klasa == metaobject.class %}
                    {% if counter < 10 %}
                      <a href="{{ metaobject.system.url }}" class="logo-list_wrapper">
                        {{ metaobject.logo | image_url: height: 100 | image_tag: class: "logo-list_logo-image" }}
                      </a>
                      {% assign counter = counter | plus: 1 %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>


{% stylesheet %}
  .logo_list {
    display: grid;
    /*grid-auto-flow: row dense;*/
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    background-color: var(--color--white);
    border-radius: 0.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding: 1rem;
  }
  .logo_list-tittle {
    grid-area: span 1 / span 5 / span 1 / span 5;
  }
  .logo-list_logo-image {
    max-height: 3rem;
    width: 100%;
    display: block;
    height: auto;
  }
  .logo-list_wrapper {
    width: 100%;
    border: 1px solid var(--color-grayiron--grayiron200);
    background-color: var(--color-grayiron--grayiron100);
    mix-blend-mode: luminosity;
    border-radius: 0.25rem;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 2rem;
    transition: all 0.2s ease-in-out;
    display: flex;
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
  .logo-list_wrapper:hover {
    border-color: var(--color-red--red600);
    mix-blend-mode: normal;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  @media screen and (max-width: 991px) {
    .logo_list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .logo_list-tittle {
      grid-area: span 1 / span 4 / span 1 / span 4;
    }
  }

  @media screen and (max-width: 767px) {
    .logo_list {
      border-radius: 0;
      grid-template-columns: 1fr 1fr;
      margin-left: -1rem;
      margin-right: -1rem;
    }
    .logo_list-tittle {
      grid-area: span 1 / span 2 / span 1 / span 2;
    }
  }

  @media screen and (max-width: 479px) {
   
  }
{% endstylesheet %}


{% schema %}
  {
    "name": "Lista Logo",
    "tag": "section",
    "class": "section_logo",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "W ofercie mamy czołowych producentów opon i felg"
      }, {
        "type": "text",
        "id": "text",
        "label": "Paragraf",
        "default": "Nasz sklep internetowy specjalizuje się w dystrybucji opon, felg i kół, prezentując szeroki wybór przekraczający 20 tysięcy artykułów od uznanych na całym świecie producentów. Niżej przedstawiamy wykaz marek, z których produkty mamy w swojej ofercie."
      }, {
        "id": "padding",
        "type": "select",
        "label": "Padding",
        "options": [
          {
            "value": "large",
            "label": "Duży"
          }, {
            "value": "medium",
            "label": "Średni"
          }, {
            "value": "small",
            "label": "Mały"
          }
        ],
        "default": "large"
      }, {
        "id": "background",
        "type": "select",
        "label": "Kolor tła",
        "options": [
          {
            "value": "background-color-white",
            "label": "Biały"
          }, {
            "value": "background-color-grayiron50",
            "label": "Szary"
          }
        ],
        "default": "background-color-white"
      }
    ],
    "presets": [
      {
        "name": "Lista Logo"
      }
    ],
    "blocks": [
      {
        "name": "Lista",
        "type": "list",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Nazwa listy",
            "default": "Klasa Premium Opony"
          }, {
            "type": "select",
            "id": "klasa",
            "label": "Klasa Producenta",
            "options": [
              {
                "value": "premium",
                "label": "Premium"
              }, {
                "value": "średnia",
                "label": "Średnia"
              }, {
                "value": "ekonomiczna",
                "label": "Ekonomiczna"
              }, {
                "value": "pozostałe",
                "label": "Pozostałe"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}