<div class="padding-global">
  <div class="container-large">
    <div class="padding-section-xxsmall">
      <div class="breadcrumb_component">
        <a href="{{ shop.url }}" class="breadcrumb-link">
          <div>Oponykola.pl</div>
        </a>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'breadcrumb_collection' %}
              <img class="breadcrumb-divider" src="{{ 'IcRoundBreadcrumbDivider.svg' |  asset_url}}">
              <a href="{{ block.settings.url }}" class="breadcrumb-link {% if block.settings.is-active %}text-weight-medium text-color-red600{% endif %}">
                <div>{{ block.settings.name }}</div>
              </a>
            {% when 'breadcrumb_product' %}
              <img class="breadcrumb-divider" src="{{ 'IcRoundBreadcrumbDivider.svg' |  asset_url}}">
              <a href="{{ block.settings.url }}" class="breadcrumb-link {% if block.settings.is-active %}text-weight-medium text-color-red600{% endif %}">
                <div>{{ block.settings.name }}</div>
              </a>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Breadcrumbs",
    "tag": "section",
    "class": "section_breadcrumbs",
    "limit": 1,
    "settings": [],
    "blocks": [
      {
        "name": "Link do kolekcji",
        "type": "breadcrumb_collection",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Nazwa"
          }, {
            "type": "collection",
            "id": "url",
            "label": "Link"
          }, {
            "type": "checkbox",
            "id": "is-active",
            "label": "Aktywny"
          }
        ]
      }, {
        "name": "Link do Produktu",
        "type": "breadcrumb_product",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Nazwa"
          }, {
            "type": "product",
            "id": "url",
            "label": "Link"
          }, {
            "type": "checkbox",
            "id": "is-active",
            "label": "Aktywny"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Nawigacja podstron"
      }
    ]
  }
{% endschema %}