<div class="padding-global">
  <div class="container-large">
    <div class="padding-section-xxsmall">
      <div class="breadcrumb_component">
        <a href="{{ shop.url }}" class="breadcrumb-link">
          <div>Oponykola.pl</div>
        </a>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'breadcrumb' %}
              <img class="breadcrumb-divider" src="{{ 'IcRoundBreadcrumbDivider.svg' |  asset_url}}">
              <a href="{{ block.settings.url }}" class="breadcrumb-link">
                <div>{{ block.settings.name }}</div>
              </a>
          {% endcase %}
        {% endfor %}
        <img class="breadcrumb-divider" src="{{ 'IcRoundBreadcrumbDivider.svg' |  asset_url}}">
        <a href="{{ page.path }}" class="breadcrumb-link text-weight-medium text-color-red600">
          <div>{{ section.settings.name }}</div>
        </a>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Breadcrumbs",
    "tag": "section",
    "class": "section_breadcrumbs",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "name",
        "label": "Nazwa Aktualnej strony"
      }
    ],
    "blocks": [
      {
        "name": "Link",
        "type": "breadcrumb",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Nazwa"
          }, {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Nawigacja podstron"
      }
    ]
  }
{% endschema %}
