<div class="padding-global">
  <div class="container-large">
    <div class="padding-section-medium">
      <div class="product-header_component">
        <div class="product-header_tittle">
          <img src="{{ product.metafields.tires.manufacturer.value.logo.value |  image_url: width: 400 }}" class="product-header_tittle-image">
          {% if product.metafields.tires.season.value == 'Letnie' %}
            Opony Letnie
          {% endif %}
          {% if product.metafields.tires.season.value == 'Zimowe' %}
            Opony Zimowe
          {% endif %}
          <h1 class="heading-style-h3">
            {{ section.settings.model }}<span class="text-weight-normal">
              {{ product.metafields.tires.width }}/{{ product.metafields.tires.profile }} R{{ product.metafields.tires.diameter }} {{ product.metafields.tires.load_index | slice: 0, 3 | rstrip }}{{ product.metafields.tires.speed_index | slice: 0 }}</span>
          </h1>
        </div>
        <div class="product-header_gallery">
          <div class="product-header_gallery-images_wrapper">
            {% for image in product.images %}
              <div class="product-header_gallery-image-wrapper">
                <img class="product-header_gallery-image" src="{{ image | image_url: height: 200 | image_tag }}">
              </div>
            {% endfor %}
          </div>
          <div class="product-header_gallery_main-image_wrapper">
            {{ product.featured_image | image_url: height: 1000 | image_tag: class: 'product-header_gallery_main-image' }}</div>
        </div>
        <div class="product-header_info">
          <div class="product-header_info-top">
            <p class="text-size-tiny text-weight-semibold text-color-grayiron600">Stan</p>
            <p class="text-size-tiny text-weight-semibold">{{ product.metafields.tires.condition }}</p>
            <p class="text-size-tiny text-weight-semibold text-color-grayiron600">Bieżnik</p>
            <p class="text-size-tiny text-weight-semibold">{{ product.metafields.tires.tread }}</p>
            <p class="text-size-tiny text-weight-semibold text-color-grayiron600">Data produkcji</p>
            <p class="text-size-tiny text-weight-semibold">{{ product.metafields.tires.years }}</p>
            <p class="text-size-tiny text-weight-semibold text-color-grayiron600">Sezon</p>
            <p class="text-size-tiny text-weight-semibold">{{ product.metafields.tires.season }}</p>
            <p class="text-size-tiny text-weight-semibold text-color-grayiron600">Rozmiar</p>
            <p class="text-size-tiny text-weight-semibold">{{ product.metafields.tires.width }}/{{ product.metafields.tires.profile }} R{{ product.metafields.tires.diameter }}</p>
            <p class="text-size-tiny text-weight-semibold text-color-grayiron600">Indeks nośności</p>
            <p class="text-size-tiny text-weight-semibold">{{ product.metafields.tires.load_index }}</p>
            <p class="text-size-tiny text-weight-semibold text-color-grayiron600">Indeks prędkości</p>
            <p class="text-size-tiny text-weight-semibold">{{ product.metafields.tires.speed_index }}</p>
          </div>
          <div class="product-header_info-bottom">
            <div class="product-header_info-bottom_item-wrapper">
              <div class="product-header_info-bottom_item">
                <div class="text-size-small">Dane techniczne</div>
              </div>
              <div class="icon-embed-xsmall"><img src="{{ 'IcArrowSmallRight.svg' | asset_url }}" /></div>
            </div>
            <div class="product-header_info-bottom_item-wrapper">
              <div class="product-header_info-bottom_item">
                <div class="text-size-small">Opis</div>
              </div>
              <div class="icon-embed-xsmall"><img src="{{ 'IcArrowSmallRight.svg' | asset_url }}" /></div>
            </div>
            <div class="product-header_info-bottom_item-wrapper">
              <div class="product-header_info-bottom_item">
                <div class="text-size-small">Dostawa i zwroty</div>
              </div>
              <div class="icon-embed-xsmall"><img src="{{ 'IcArrowSmallRight.svg' | asset_url }}" /></div>
            </div>
            <div class="product-header_info-bottom_item-wrapper">
              <div class="product-header_info-bottom_item">
                <div class="text-size-small">Gwarancja</div>
              </div>
              <div class="icon-embed-xsmall"><img src="{{ 'IcArrowSmallRight.svg' | asset_url }}" /></div>
            </div>
            <div
              style="display: none;"
              class="modal_component"
              id="modal-guarantee">
              <div class="modal_content-wrapper">
                <div class="margin-bottom margin-large">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-xsmall">
                        <h2>Gwarancja</h2>
                      </div>
                      <div class="guarantee-content-green">
                        <p class="text-weight-bold text-color-green">Dożytownia gwarancja na naprawę</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="margin-bottom margin-xsmall">
                  <div class="text-weight-bold">Oferujemy Państwu szczegółową gwarancję na nasze usługi i produkty, która obejmuje:</div>
                </div>
                <ul>
                  <li>
                    <strong>Kontrola Ciśnieniowa:
                    </strong>
                    Każda opona przed sprzedażą jest dokładnie sprawdzana pod kątem ciśnienia, aby zapewnić jej niezawodność.</li>
                  <li>
                    <strong>Naprawa Łatką:
                    </strong>
                    W przypadku uszkodzeń, opony mogą być naprawiane przez zastosowanie profesjonalnej łatki. Gwarantujemy, że łatka będzie trwała przez cały okres użytkowania opony.</li>
                  <li>
                    <strong>Dożywotnia Gwarancja:
                    </strong>
                    Na wszystkie naprawy łatką wykonane w naszym serwisie udzielamy dożywotniej gwarancji. Obejmuje to zarówno trwałość łatki, jak i jakość wykonanej pracy.</li>
                  <li>
                    <strong>Wykwalifikowani Specjaliści:
                    </strong>
                    Nasz serwis składa się z doświadczonych i wyszkolonych specjalistów, którzy zapewniają najwyższej jakości obsługę.</li>
                </ul>
                <div>Prosimy zauważyć, że nasza gwarancja skupia się wyłącznie na naprawach łatką. Wszelkie inne uszkodzenia opony, które wykraczają poza zakres naprawy łatką, nie są objęte tą gwarancją.</div>
              </div>
              <div class="modal_background-overlay"></div>
            </div>
            <div class="product-header_info-bottom_item-wrapper" id="open-guarantee">
              <div class="product-header_info-bottom_item">
                <div class="text-size-small">Opinie</div>
              </div>
              <div class="icon-embed-xsmall"><img src="{{ 'IcArrowSmallRight.svg' | asset_url }}" /></div>
            </div>ń
          </div>
        </div>
        <div class="product-header_buy"></div>
      </div>
    </div>
  </div>
</div>


{% stylesheet %}
  .product-header_component {
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-bottom: 3rem;
    display: grid;
  }

  .product-header_tittle {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-rows: auto auto;
    grid-template-columns: max-content 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    grid-area: span 1 / span 12 / span 1 / span 12;
  }

  .product-header_tittle-image {
    aspect-ratio: 4;
    max-height: 2rem;
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  .product-header_gallery {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    grid-area: span 1 / span 5 / span 1 / span 5;
  }

  .product-header_gallery-images_wrapper {
    flex-flow: column;
    align-items: stretch;
    display: flex;
    gap: 1rem;
  }

  .product-header_gallery-image-wrapper {
    aspect-ratio: 1;
    background-color: var(--color--white);
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .product-header_gallery-image {
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .product-header_gallery_main-image_wrapper {
    aspect-ratio: 1;
    background-color: var(--color--white);
    border-radius: 0.5rem;
    overflow: hidden;
    grid-area: span 1 / span 4 / span 1 / span 4;
  }

  .product-header_gallery_main-image {
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .product-header_info {
    flex-flow: column;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    display: flex;
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  .product-header_info-top {
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .product-header_info-bottom {
    flex-flow: column;
    justify-content: flex-end;
    display: flex;
  }

  .product-header_info-bottom_item-wrapper {
    border-bottom: 1px solid var(--color-grayiron--grayiron400);
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
  }

  .product-header_info-bottom_item {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    align-items: center;
    display: flex;
  }

  .product-header_buy {
    background-color: var(--color--white);
    border-radius: 0.5rem;
    padding: 1rem;
    grid-area: span 1 / span 4 / span 1 / span 4;
  }

  .modal_component {
    z-index: 9999;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .modal_content-wrapper {
    background-color: var(--color--white);
    width: 100%;
    max-width: 40rem;
    height: 100vh;
    padding: 5rem 2rem;
    position: absolute;
    overflow: scroll;
  }

  .modal_background-overlay {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

{% endstylesheet %}


{% schema %}
  {
    "name": "Product Header",
    "tag": "section",
    "class": "section_logo background-color-grayiron100",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "model",
        "label": "Model Opony",
        "default": "Model opony"
      }, {
        "type": "text",
        "id": "guarantee",
        "label": "Gwarancja",
        "default": "Informacje o gwarancji"
      }
    ],
    "presets": [
      {
        "name": "Produkt Header"
      }
    ]
  }

{% endschema %}