<div class="padding-global">
  <div class="container-large">
    <div class="header_manufacturer-category_content">
      <div class="margin-bottom margin-large">
        <div class="max-width-large">
          <div class="margin-bottom margin-xsmall">
            <h1 class="text-color-white">
              {{ section.settings.nazwa-producenta }}
            </h1>
          </div>
          <p class="text-weight-semibold text-color-white">
            {{ section.settings.krotki-opis-producenta }}
          </p>
        </div>
      </div>
      <div class="header_manufacturer-category_content-wrapper">
        <div class="form-block-2 w-form">
          <form
            id="tire-manufacturer-form"
            class="div-block-8-copy is-rim w-tab-pane tab-pane-tab-1 w--tab-active"
            data-w-tab="1.2"
            style="border-top: none">
            {% assign rim_fields_label = "Średnica,Rozstaw śrub,Szerokość,ET" | split: "," %}
            {% assign rim_fields_data_name = "rim-diameter,rim-bolt,rim-width,rim-et" | split: "," %}
            {% assign select_position = "is-left,is-middle,is-right" | split: "," %}

            {% for i in (0..3) %}
              <div class="form-field-wrapper">
                <label for="{{ rim_fields_data_name[i] | downcase }}" class="field-label">{{ rim_fields_label[i] }}</label>
                <select
                        id="{{ rim_fields_data_name[i] | downcase }}"
                        data-name="{{ rim_fields_data_name[i] }}"
                        required="required"
                        class="select-field w-select"></select>
                {% render 'select-arrow' %}
              </div>
            {% endfor %}
            <input
              type="submit"
              data-wait="Zaczekaj..."
              class="button w-button"
              value="Szukaj {{ section.settings.nazwa-producenta }}">
            <div class="header_manufacturer-suggested_sizes-wrapper">
              <div>Popularne rozmiary {{ metaobject.name.value }}:</div>
              <a href="/collections/felgi?filter.p.m.rims.diameter=10&filter.p.m.rims.bolt_spacing=4x101.6&filter.p.m.rims.width=3.5&filter.p.m.rims.e_t=24&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Felgi {{ metaobject.name.value }}
                <span class="text-weight-bold">R10 4x101 3.5J ET24</span>
              </a>
              <a href="/collections/felgi?filter.p.m.rims.diameter=19&filter.p.m.rims.bolt_spacing=5x120&filter.p.m.rims.width=9&filter.p.m.rims.e_t=37&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Felgi {{ metaobject.name.value }}
                <span class="text-weight-bold">R19 5x120 9J ET37</span>
              </a>
              <a href="/collections/felgi?filter.p.m.rims.diameter=18&filter.p.m.rims.bolt_spacing=5x120&filter.p.m.rims.width=9.5&filter.p.m.rims.e_t=25&{% if metaobject.system.type == 'brand_page_tires'%}&filter.p.m.tires.manufacturer=gid%3A%2F%2Fshopify%2FMetaobject%2F{{ metaobject.system.id }}{% endif %}">Felgi {{ metaobject.name.value }}
                <span class="text-weight-bold">R18 5x120 9.5J ET25</span>
              </a>
            </div>
            {% render 'tire-help' %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header_manufacturer-category_background-image-wrapper">
  <div class="image-overlay-layer-dark"></div>
  {{ section.settings.zdjecie-w-tle | image_url: height: 1080 | image_tag: class: "header_manufacturer-category_background-image" }}
</div>

<script type="text/javascript" src="{{ 'filters.js' | asset_url }}"></script>

{% schema %}
  {
    "name": "Felgi Header",
    "tag": "header",
    "class": "section_header_manufacturer-category",
    "limit": 1,
    "presets": [
      {
        "name": "Felgi Header"
      }
    ],
    "settings": [
      {
        "type": "image_picker",
        "id": "zdjecie-w-tle",
        "label": "Zdjęcie w tle"
      }, {
        "type": "image_picker",
        "id": "zdjecie-producenta",
        "label": "Logo producenta"
      }, {
        "type": "text",
        "id": "nazwa-producenta",
        "label": "Nazwa Producenta",
        "default": "Nazwa Producenta"
      }, {
        "type": "text",
        "id": "krotki-opis-producenta",
        "label": "Krótki opis Producenta",
        "default": "Krótki opis Producenta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .header_manufacturer-suggested_sizes-wrapper {
    grid-area: span 1 / span 3 / span 1 / span 3;
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media screen and (max-width: 991px) {
    .header_manufacturer-suggested_sizes-wrapper {
      grid-area: span 1 / span 2 / span 1 / span 2;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 767px) {
    .header_manufacturer-suggested_sizes-wrapper {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 479px) {
    .header_manufacturer-suggested_sizes-wrapper {
      grid-area: span 1 / span 1 / span 1 / span 1;
    }
  }


{% endstylesheet %}