<div class="section_tire-model_top">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-small">
        <div class="tire-model_component">
          <div class="tire-model_wrapper">
            <div class="tire-model_title-wrapper">
              <div class="tire-model_tittle">
                <h2 class="heading-style-h5">
                  {{ section.settings.nazwa-producenta }}
                </h2>
                <h1 class="heading-style-h3">
                  {{ section.settings.nazwa-modelu }}
                </h1>
              </div>
              <div class="margin-top margin-xmall">
                <p>
                  {{ section.settings.krotki-opis-modelu }}
                </p>
              </div>
              <div class="margin-top margin-small">
                <div class="button-group">
                  <a class="button is-small is-icon">Zobacz rozmiary</a>
                  <a class="button is-link is-icon">Czytaj dalej</a>
                </div>
              </div>
            </div>
            <div class="tire-model_image-wrapper">
              <div class="tire-model_logo-wrapper">
                {{ section.settings.zdjecie-producenta | image_url: height: 64 | image_tag: class: "tire-model_producer-logo" }}
              </div>
              {{ section.settings.zdjecie-opony | image_url: height: 1000 | image_tag: class: "tire-model_main-image" }}
            </div>
            <div class="tire-model_benefits-wrapper">
              {% render 'benefits-small' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% stylesheet %}
  .tire-model_wrapper {
    grid-column-gap: 4rem;
    grid-row-gap: 0;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: relative;
  }

  .tire-model_title-wrapper {
    flex-flow: column;
    align-items: flex-start;
    display: flex;
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  .tire-model_image-wrapper {
    position: relative;
    grid-area: span 1 / span 3 / span 1 / span 3;
  }
  .tire-model_logo-wrapper {
    background-color: var(--color--white);
    border-radius: 0 0.25rem 0.25rem 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  .tire-model_main-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    object-position: 50% 0;
    border-radius: 1rem;
  }
  .tire-model_benefits-wrapper {
    grid-area: span 1 / span 6 / span 1 / span 6;
  }


{% endstylesheet %}


{% schema %}
  {
    "name": "tire_model-top",
    "settings": [
      {
        "type": "image_picker",
        "id": "zdjecie-opony",
        "label": "Zdjęcie opony"
      },
      {
        "type": "image_picker",
        "id": "zdjecie-producenta",
        "label": "Zdjęcie producenta"
      },
      {
        "type": "text",
        "id": "nazwa-modelu",
        "label": "Nazwa modelu",
        "default": "Nazwa Modelu"
      },
      {
        "type": "text",
        "id": "nazwa-producenta",
        "label": "Nazwa producenta",
        "default": "Nazwa Producenta"
      }, {
        "type": "text",
        "id": "krotki-opis-modelu",
        "label": "Krótki opis modelu",
        "default": "Lorem ipsum"
      }
    ]
  }
{% endschema %}