<div class="padding-global {{ section.settings.background }}">
  <div class="container-large">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'tires-models' %}
          <div class="padding-section-{{ section.settings.padding }}">
            <div class="{{ section.settings.container }}">
              <div class="margin-bottom margin-medium">
                <h4>Polecane modele opon {{ metaobject.name }}</h4>
              </div>
            </div>
          </div>
        {% when 'tires-season' %}
          <div class="padding-section-{{ section.settings.padding }}">
            <div class="{{ section.settings.container }}">
              <div class="margin-bottom margin-medium">
                <h4>
                  Opony {{ metaobject.name }} według sezonu</h4>
              </div>
              <div class="grid-3">
                {% for season in shop.metaobjects.page_summer_tires.values %}
                  {% if metaobject.name.value == season.manufacturer.value.name %}
                    <a class="season_select-wrapper shadow-small" href="{{ season.system.url }}">
                      <p class="text-weight-semibold text-color-black">Opony Letnie {{ metaobject.name }}</p>
                    </a>
                  {% endif %}
                {% endfor %}
                {% for season in shop.metaobjects.page_winter_tires.values %}
                  {% if metaobject.name.value == season.manufacturer.value.name %}
                    <a class="season_select-wrapper shadow-small" href="{{ season.system.url }}">
                      <p class="text-weight-semibold text-color-black">Opony Zimowe {{ metaobject.name }}</p>
                    </a>
                  {% endif %}
                {% endfor %}
                {% for season in shop.metaobjects.page_allyear_tires.values %}
                  {% if metaobject.name.value == season.manufacturer.value.name %}
                    <a class="season_select-wrapper shadow-small" href="{{ season.system.url }}">
                      <p class="text-weight-semibold text-color-black">Opony Całoroczne {{ metaobject.name }}</p>
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% when 'seo-description' %}
          <div class="padding-section-{{ section.settings.padding }}">
            {% comment %}
            {% comment %}{% if block.settings.logo %}{% endcomment %}
              <div class="margin-bottom margin-medium">
                {% comment %}{{ block.settings.logo | image_url: width: 400 | image_tag }}{% endcomment %}
                {{ metaobject.name }}
              </div>
            {% comment %}{% endif %}{% endcomment %}
            {% endcomment %}
            <div class="content7_component">
              <div class="text-rich-text">
                {{ block.settings.first-description }}
              </div>
              <div class="text-rich-text">
                {{ block.settings.second-description }}
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Treść i Linki",
    "tag": "section",
    "class": "section_content-list",
    "limit": 1,
    "settings": [
      {
        "id": "padding",
        "type": "select",
        "label": "Odstępy",
        "options": [
          {
            "value": "medium",
            "label": "Średnie"
          }, {
            "value": "small",
            "label": "Małe"
          }, {
            "value": "xsmall",
            "label": "X Małe"
          }
        ],
        "default": "xsmall"
      }, {
        "id": "background",
        "type": "select",
        "label": "Kolor tła",
        "options": [
          {
            "value": "background-color-white",
            "label": "Biały"
          }, {
            "value": "background-color-grayiron50",
            "label": "Szary"
          }
        ],
        "default": "background-color-grayiron50"
      }, {
        "type": "select",
        "id": "container",
        "label": "Kontener",
        "options": [
          {
            "value": "white-container",
            "label": "Kontener Biały"
          }, {
            "value": "",
            "label": "Brak Kontenera"
          }, {
            "value": "white-container shadow-small",
            "label": "Kontener z cieniem"
          }
        ],
        "default": "white-container shadow-small"
      }
    ],
    "presets": [
      {
        "name": "Treść i Linki"
      }
    ],
    "blocks": [
      {
        "name": "Opis SEO",
        "type": "seo-description",
        "settings": [
          {
            "type": "richtext",
            "id": "first-description",
            "label": "Opis Lewa Kolumna"
          }, {
            "type": "richtext",
            "id": "second-description",
            "label": "Opis Prawa Kolumna"
          }, {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          }

        ]
      }
    ]
  }
{% endschema %}


{% stylesheet %}
  .season_select-wrapper {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    border-radius: 0.5rem;
    align-items: center;
    padding: 1.5rem;
    display: flex;
  }
  @media screen and (max-width: 991px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 479px) {}
{% endstylesheet %}