{{ 'filters.js' | asset_url | script_tag }}

<div class="padding-global">
  <div class="container-large">
    <div class="header-search-big_content">
      <div class="header-search-big_content-wrapper">
        <div class="header-main-tabs">
          <img src="{{ 'TireSearch.webp' | asset_url }}" class="image" alt="tire-image">
          {% assign tab_titles = "Szukaj wg rozmiaru,Szukaj wg auta" | split: "," %}
            <div class="header-main-tabs-right">
              {% for tab_title in tab_titles %}
                <a data-w-tab="{{ forloop.index }}" class="tab-link-top-search w-inline-block w-tab-link{% if forloop.first %} w--current{% endif %}">
                  {{ tab_title }}
                </a>
              {% endfor %}
            </div>
        </div>
        {% for tab_number in (1..2) %}
          <div class="tab-pane-tab-{{ tab_number }} w-tab-pane{% if tab_number == 1 %} w--tab-active{% endif %}">
            <div class="tabs-2 w-tabs">
              <div class="tabs-menu w-tab-menu">
                {% assign sub_tab_titles = "Opony,Koła,Felgi" | split: "," %}
                {% for sub_tab_title in sub_tab_titles %}
                  <a data-w-tab="{{ tab_number }}.{{ forloop.index }}" class="tab-link-left-search w-inline-block w-tab-link{% if forloop.first %} w--current{% endif %}">
                    {{ sub_tab_title }}
                  </a>
                {% endfor %}
              </div>

              {% for sub_tab_number in (1..3) %}
                <div data-sub-tab="{{ tab_number }}.{{ sub_tab_number }}" class="w-tab-pane{% if sub_tab_number == 1 %} w--tab-active{% endif %}">
                  <div class="w-form">
                    <form class="div-block-8">
                      {% if tab_number == 1 %}
                        {% assign tire_fields_label = "Szerokość,Profil,Średnica" | split: "," %}
                        {% assign wheel_fields_label = "Szerokość opony,Profil opony,Średnica opony,Rozstaw śrub,Szerokość felgi" | split: "," %}
                        {% assign rim_fields_label = "Średnica,Rozstaw śrub,Szerokość,ET" | split: "," %}

                        {% assign season_options = "Letnie,Zimowe,Całoroczne" | split: "," %}

                        {% assign tire_fields_data_name = "tire-width,tire-profile,tire-diameter" | split: "," %}
                        {% assign wheel_fields_data_name = "tire-width,tire-profile,tire-diameter,rim-bolt,rim-width" | split: "," %}
                        {% assign rim_fields_data_name = "rim-diameter,rim-bolt,rim-width,rim-et" | split: "," %}

                        {% if sub_tab_number == 1 %}
                          {% for i in (0..2) %}
                            <div class="form-field-wrapper">
                              <label for="{{ tire_fields_data_name[i] | downcase }}" class="field-label">{{ tire_fields_label[i] }}</label>
                              <select
                                id="{{ tire_fields_data_name[i] | downcase }}"
                                data-name="{{ tire_fields_data_name[i] }}"
                                required="required"
                                class="select-field w-select"></select>
                              {% render 'select-arrow' %}
                            </div>
                          {% endfor %}
                        {% endif %}

                        {% if sub_tab_number == 2 %}
                          {% for i in (0..4) %}
                            <div class="form-field-wrapper">
                              <label for="{{ wheel_fields_data_name[i] | downcase }}" class="field-label">{{ wheel_fields_label[i] }}</label>
                              <select
                                id="{{ wheel_fields_data_name[i] | downcase }}"
                                data-name="{{ wheel_fields_data_name[i] }}"
                                required="required"
                                class="select-field w-select"></select>
                              {% render 'select-arrow' %}
                            </div>
                          {% endfor %}
                        {% endif %}

                        {% if sub_tab_number == 3 %}
                          {% for i in (0..3) %}
                            <div class="form-field-wrapper">
                              <label for="{{ rim_fields_data_name[i] | downcase }}" class="field-label">{{ rim_fields_label[i] }}</label>
                              <select
                                id="{{ rim_fields_data_name[i] | downcase }}"
                                data-name="{{ rim_fields_data_name[i] }}"
                                required="required"
                                class="select-field w-select"></select>
                              {% render 'select-arrow' %}
                            </div>
                          {% endfor %}
                        {% endif %}

                        {% unless sub_tab_number == 3 %}
                          <div class="form-field-wrapper">
                            <label for="tire-season" class="field-label">Sezon</label>
                            <select
                              id="tire-season"
                              data-name="tire-season"
                              required="required"
                              class="select-field w-select">
                              {% for option in season_options %}
                                <option value="{{ option }}">{{ option }}</option>
                              {% endfor %}
                            </select>
                            {% render 'select-arrow' %}
                          </div>
                        {% endunless %}
                      {% else %}
                        {% assign form_fields = "Marka,Model,Generacja,Rok,Silnik" | split: "," %}
                        {% for field in form_fields %}
                          <div class="form-field-wrapper">
                            <label for="car-{{ field | downcase }}" class="field-label">{{ field }}</label>
                            <select
                              id="car-{{ field | downcase }}"
                              data-name="car-{{ field | downcase }}"
                              required="required"
                              class="select-field w-select"></select>
                            {% render 'select-arrow' %}
                          </div>
                        {% endfor %}
                      {% endif %}
                      <input
                        type="submit"
                        data-wait="Zaczekaj..."
                        class="button w-button"
                        value="{% case tab_number %}{% when 1 %}{% case sub_tab_number %}{% when 1 %}Szukaj opon{% when 2 %}Szukaj kół{% when 3 %}Szukaj felg{% endcase %}{% when 2 %}{% case sub_tab_number %}{% when 1 %}Szukaj opon{% when 2 %}Szukaj kół{% when 3 %}Szukaj felg{% endcase %}{% endcase %}">
                    </form>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
          <div class="header30_feature-wrapper">
              <div id="w-node-bf10ec35-5c52-dbab-f8a3-688fde0bcf55-2120814a" class="header30_feature">
                  <div class="icon-1x1-medium" data-w-id="c0b9acf2-c96b-b91e-2f57-85925564c9f3"
                       data-animation-type="lottie"
                       data-src="https://assets-global.website-files.com/65945aac2ee770034538c7f4/6594617dc44e8828d1097389_wired-outline-757-delivery.json"
                       data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg"
                       data-default-duration="2.5" data-duration="0">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                           viewBox="0 0 430 430" width="430" height="430" preserveAspectRatio="xMidYMid meet"
                           style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                          <defs>
                              <clipPath id="__lottie_element_243">
                                  <rect width="430" height="430" x="0" y="0"></rect>
                              </clipPath>
                              <clipPath id="__lottie_element_245">
                                  <path d="M0,0 L430,0 L430,430 L0,430z"></path>
                              </clipPath>
                          </defs>
                          <g clip-path="url(#__lottie_element_243)">
                              <g clip-path="url(#__lottie_element_245)" transform="matrix(1,0,0,1,0,0)" opacity="1"
                                 style="display: block;">
                                  <g transform="matrix(1,0,0,1,-35,-35)" opacity="1" style="display: block;">
                                      <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,236.86700439453125,229.6750030517578)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-173.86700439453125,15.324999809265137 C-173.86700439453125,15.324999809265137 -1.2241313457489014,15.526968955993652 -1.2241313457489014,15.526968955993652 M-1.2291313409805298,15.526968955993652 C-1.2291313409805298,15.526968955993652 -38.54313278198242,46.17696762084961 -38.54313278198242,46.17696762084961 M-1.2291313409805298,15.526968955993652 C-1.2291313409805298,15.526968955993652 -38.54313278198242,-15.123031616210938 -38.54313278198242,-15.123031616210938"></path>
                                          </g>
                                      </g>
                                  </g>
                                  <g transform="matrix(1,0,0,1,-59.489593505859375,-34.99998474121094)" opacity="1"
                                     style="display: block;">
                                      <g opacity="1" transform="matrix(1,0,0,1,359.64300537109375,348.5360107421875)">
                                          <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                class="primary" stroke="rgb(0,0,0)" stroke-opacity="1"
                                                stroke-width="18.06"
                                                d=" M-269.7449951171875,-138.2989959716797 C-269.7449951171875,-138.2989959716797 -269.2868347167969,-197.1521759033203 -269.2868347167969,-197.1521759033203 C-269.2868347167969,-197.1521759033203 -50.40028381347656,-195.84963989257812 -50.40028381347656,-195.84963989257812 C-50.40028381347656,-195.84963989257812 -50.66381072998047,-151.4713592529297 -50.66381072998047,-151.4713592529297 C-50.66381072998047,-151.4713592529297 -51.133487701416016,-72.62108612060547 -51.133487701416016,-72.62108612060547 C-51.133487701416016,-72.62108612060547 -51.13612365722656,-72.19208526611328 -51.13612365722656,-72.19208526611328 C-51.13612365722656,-72.19208526611328 -51.570396423339844,0.7659173607826233 -51.570396423339844,0.7659173607826233 C-51.570396423339844,0.7659173607826233 -51.63339614868164,0.7661976218223572 -51.63339614868164,0.7661976218223572 C-51.63339614868164,0.7661976218223572 -176.552001953125,0.5644778609275818 -176.552001953125,0.5644778609275818 M-235.90951538085938,-0.15528318285942078 C-235.90951538085938,-0.15528318285942078 -270.45697021484375,-0.536617636680603 -270.45697021484375,-0.536617636680603 C-270.45697021484375,-0.536617636680603 -269.7449951171875,-68.7979965209961 -269.7449951171875,-68.7979965209961 M28.594999313354492,0.719761073589325 C28.594999313354492,0.719761073589325 49.737884521484375,1.364894986152649 49.737884521484375,1.364894986152649 C49.737884521484375,1.364894986152649 50.1747932434082,-72.02338409423828 50.1747932434082,-72.02338409423828 C50.1747932434082,-72.02338409423828 -51.073486328125,-72.62592315673828 -51.073486328125,-72.62592315673828 C-51.073486328125,-72.62592315673828 -51.1364860534668,-72.6263656616211 -51.1364860534668,-72.6263656616211 C-51.1364860534668,-72.6263656616211 -51.573394775390625,0.7619173526763916 -51.573394775390625,0.7619173526763916 C-51.573394775390625,0.7619173526763916 -51.51039505004883,0.7623568773269653 -51.51039505004883,0.7623568773269653 C-51.51039505004883,0.7623568773269653 -29.755239486694336,1.2197610139846802 -29.755239486694336,1.2197610139846802 M50.1747932434082,-72.02338409423828 C50.1747932434082,-72.02338409423828 -51.1364860534668,-72.6263656616211 -51.1364860534668,-72.6263656616211 C-51.1364860534668,-72.6263656616211 -50.66753005981445,-151.46836853027344 -50.66753005981445,-151.46836853027344 C-50.66753005981445,-151.46836853027344 -11.188082695007324,-152.16929626464844 -11.188082695007324,-152.16929626464844 C3.831636667251587,-152.22225952148438 17.515901565551758,-143.5799102783203 23.887542724609375,-130.01760864257812 C23.887542724609375,-130.01760864257812 50.1747932434082,-72.02338409423828 50.1747932434082,-72.02338409423828z M-176.55499267578125,0 C-176.55499267578125,15.854999542236328 -189.4080047607422,28.70800018310547 -205.26300048828125,28.70800018310547 C-221.1179962158203,28.70800018310547 -233.9709930419922,15.854999542236328 -233.9709930419922,0 C-233.9709930419922,-15.854999542236328 -221.1179962158203,-28.70800018310547 -205.26300048828125,-28.70800018310547 C-189.4080047607422,-28.70800018310547 -176.55499267578125,-15.854999542236328 -176.55499267578125,0z M28.70800018310547,0 C28.70800018310547,15.854999542236328 15.854999542236328,28.70800018310547 0,28.70800018310547 C-15.854999542236328,28.70800018310547 -28.70800018310547,15.854999542236328 -28.70800018310547,0 C-28.70800018310547,-15.854999542236328 -15.854999542236328,-28.70800018310547 0,-28.70800018310547 C15.854999542236328,-28.70800018310547 28.70800018310547,-15.854999542236328 28.70800018310547,0z"></path>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </svg>
                  </div>
                  <div id="w-node-_861b92b7-0b5b-6bb7-e3cd-4552d97659da-2120814a">Darmowa Dostawa</div>
              </div>
              <div id="w-node-_6aa78a52-0a32-5874-545c-1e65a6ab212a-2120814a" class="header30_feature is-second">
                  <div class="icon-1x1-medium" data-w-id="6aa78a52-0a32-5874-545c-1e65a6ab212b"
                       data-animation-type="lottie"
                       data-src="https://assets-global.website-files.com/65945aac2ee770034538c7f4/659461255dc1ccf5365d38fe_wired-outline-2367-loan.json"
                       data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg"
                       data-duration="0">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                           viewBox="0 0 430 430" width="430" height="430" preserveAspectRatio="xMidYMid meet"
                           style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                          <defs>
                              <clipPath id="__lottie_element_255">
                                  <rect width="430" height="430" x="0" y="0"></rect>
                              </clipPath>
                              <clipPath id="__lottie_element_257">
                                  <path d="M0,0 L430,0 L430,430 L0,430z"></path>
                              </clipPath>
                              <g id="__lottie_element_267">
                                  <g clip-path="url(#__lottie_element_268)" transform="matrix(1,0,0,1,0,0)" opacity="1"
                                     style="display: block;">
                                      <g transform="matrix(0.9956934452056885,0.09270685911178589,-0.09270685911178589,0.9956934452056885,210.86842346191406,372.129638671875)"
                                         opacity="1" style="display: block;">
                                          <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                              <path fill="rgb(255,0,0)" fill-opacity="1"
                                                    d=" M14.862250328063965,-0.9879270792007446 C14.862250328063965,-0.9879270792007446 -57.74725341796875,6.162165641784668 -57.74725341796875,6.162165641784668 C-61.415409088134766,6.491078853607178 -64.65451049804688,3.7542312145233154 -64.97642517089844,0.0851893350481987 C-65.4893798828125,-5.760100364685059 -63.5890998840332,-11.266823768615723 -60.100929260253906,-15.44207763671875 C-56.604644775390625,-19.62721824645996 -51.50912857055664,-22.482547760009766 -45.6478385925293,-23.008275985717773 C-45.6478385925293,-23.008275985717773 18.551786422729492,-29.403907775878906 18.551786422729492,-29.403907775878906 C26.0060977935791,-30.073259353637695 33.30400085449219,-31.413999557495117 40.569000244140625,-33.229000091552734 C65.85900115966797,-39.54899978637695 95.44200134277344,-34.933998107910156 133.4759979248047,-22.04400062561035 C133.4759979248047,-22.04400062561035 133.4759979248047,26.631000518798828 133.4759979248047,26.631000518798828 C133.4759979248047,26.631000518798828 125.80000305175781,26.631000518798828 125.80000305175781,26.631000518798828 C101.00700378417969,26.631000518798828 76.2760009765625,29.1299991607666 51.98400115966797,34.0890007019043 C51.98400115966797,34.0890007019043 10.583000183105469,42.54100036621094 10.583000183105469,42.54100036621094 C-6.745999813079834,46.07899856567383 -24.80646324157715,43.76511001586914 -42.226539611816406,42.22915267944336 C-42.226539611816406,42.22915267944336 -146.53964233398438,26.354001998901367 -146.53964233398438,26.354001998901367 C-148.54940795898438,26.220386505126953 -150.30210876464844,25.24689483642578 -151.48294067382812,23.793567657470703 C-152.5530548095703,22.475780487060547 -153.14805603027344,20.759145736694336 -153.02252197265625,18.927215576171875 C-152.24343872070312,7.5266313552856445 -142.3733673095703,-1.0908045768737793 -130.96766662597656,-0.31537872552871704 C-130.96766662597656,-0.31537872552871704 -59.55034255981445,5.642741680145264 -59.55034255981445,5.642741680145264"></path>
                                          </g>
                                      </g>
                                      <g transform="matrix(0.9628323912620544,0.27009961009025574,-0.27009961009025574,0.9628323912620544,15.220130920410156,-40.55445861816406)"
                                         opacity="1" style="display: block;">
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,220.86199951171875,163.15499877929688)">
                                              <path fill="rgb(255,255,255)" fill-opacity="1"
                                                    d=" M27.767789840698242,-67.091064453125 C27.767789840698242,-67.091064453125 -42.41573715209961,-46.859031677246094 -42.41573715209961,-46.859031677246094 C-42.41573715209961,-46.859031677246094 -42.41573715209961,-46.859031677246094 -42.41573715209961,-46.859031677246094 C-42.41573715209961,-46.859031677246094 -104.38099670410156,-55.68299865722656 -104.38099670410156,-55.68299865722656 C-104.38099670410156,-55.68299865722656 -104.38200378417969,50.847999572753906 -104.38200378417969,50.847999572753906 C-104.38200378417969,50.847999572753906 -19.150447845458984,56.535457611083984 -19.150447845458984,56.535457611083984 C-19.150447845458984,56.535457611083984 2.5066938400268555,61.03229522705078 32.007843017578125,54.39390563964844 C61.50899124145508,47.755516052246094 93.68849182128906,40.515235900878906 93.68849182128906,40.515235900878906 C93.68849182128906,40.515235900878906 94.51554870605469,-26.18111228942871 94.51554870605469,-26.18111228942871 C94.51554870605469,-26.18111228942871 65.26229095458984,-75.5272216796875 65.26229095458984,-75.5272216796875 C65.26229095458984,-75.5272216796875 27.767789840698242,-67.091064453125 27.767789840698242,-67.091064453125"></path>
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    stroke="rgb(19,19,43)" stroke-opacity="1" stroke-width="0"
                                                    d=" M27.767789840698242,-67.091064453125 C27.767789840698242,-67.091064453125 -42.41573715209961,-46.859031677246094 -42.41573715209961,-46.859031677246094 C-42.41573715209961,-46.859031677246094 -42.41573715209961,-46.859031677246094 -42.41573715209961,-46.859031677246094 C-42.41573715209961,-46.859031677246094 -104.38099670410156,-55.68299865722656 -104.38099670410156,-55.68299865722656 C-104.38099670410156,-55.68299865722656 -104.38200378417969,50.847999572753906 -104.38200378417969,50.847999572753906 C-104.38200378417969,50.847999572753906 -19.150447845458984,56.535457611083984 -19.150447845458984,56.535457611083984 C-19.150447845458984,56.535457611083984 2.5066938400268555,61.03229522705078 32.007843017578125,54.39390563964844 C61.50899124145508,47.755516052246094 93.68849182128906,40.515235900878906 93.68849182128906,40.515235900878906 C93.68849182128906,40.515235900878906 94.51554870605469,-26.18111228942871 94.51554870605469,-26.18111228942871 C94.51554870605469,-26.18111228942871 65.26229095458984,-75.5272216796875 65.26229095458984,-75.5272216796875 C65.26229095458984,-75.5272216796875 27.767789840698242,-67.091064453125 27.767789840698242,-67.091064453125"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,318.9389953613281,118.13700103759766)">
                                              <path fill="rgb(255,255,255)" fill-opacity="1"
                                                    d=" M-50.82572937011719,-26.457416534423828 C-50.82572937011719,-26.457416534423828 -7.888881206512451,-36.09867858886719 -7.888881206512451,-36.09867858886719 C1.0901275873184204,-38.11930847167969 8.89641284942627,-33.4156608581543 10.602814674377441,-25.830764770507812 C10.602814674377441,-25.830764770507812 10.602814674377441,-25.830764770507812 10.602814674377441,-25.830764770507812 C12.51705265045166,-17.324909210205078 7.172887325286865,-8.878046035766602 -1.332966685295105,-6.963808536529541 C-1.332966685295105,-6.963808536529541 -24.903860092163086,-1.6796847581863403 -24.903860092163086,-1.6796847581863403"></path>
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    stroke="rgb(19,19,43)" stroke-opacity="1" stroke-width="0"
                                                    d=" M-50.82572937011719,-26.457416534423828 C-50.82572937011719,-26.457416534423828 -7.888881206512451,-36.09867858886719 -7.888881206512451,-36.09867858886719 C1.0901275873184204,-38.11930847167969 8.89641284942627,-33.4156608581543 10.602814674377441,-25.830764770507812 C10.602814674377441,-25.830764770507812 10.602814674377441,-25.830764770507812 10.602814674377441,-25.830764770507812 C12.51705265045166,-17.324909210205078 7.172887325286865,-8.878046035766602 -1.332966685295105,-6.963808536529541 C-1.332966685295105,-6.963808536529541 -24.903860092163086,-1.6796847581863403 -24.903860092163086,-1.6796847581863403"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,325.9620056152344,178.16400146484375)">
                                              <path fill="rgb(255,255,255)" fill-opacity="1"
                                                    d=" M-21.511058807373047,-33.4412727355957 C-21.511058807373047,-33.4412727355957 0.9768751263618469,-38.501094818115234 0.9768751263618469,-38.501094818115234 C8.56177043914795,-40.207496643066406 16.093303680419922,-35.442813873291016 17.799705505371094,-27.857919692993164 C17.799705505371094,-27.857919692993164 17.799705505371094,-27.857919692993164 17.799705505371094,-27.857919692993164 C19.713943481445312,-19.352066040039062 14.368953704833984,-10.905377388000488 5.863099098205566,-8.99113941192627 C5.863099098205566,-8.99113941192627 -25.662019729614258,-1.8974902629852295 -25.662019729614258,-1.8974902629852295"></path>
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    stroke="rgb(19,19,43)" stroke-opacity="1" stroke-width="0"
                                                    d=" M-21.511058807373047,-33.4412727355957 C-21.511058807373047,-33.4412727355957 0.9768751263618469,-38.501094818115234 0.9768751263618469,-38.501094818115234 C8.56177043914795,-40.207496643066406 16.093303680419922,-35.442813873291016 17.799705505371094,-27.857919692993164 C17.799705505371094,-27.857919692993164 17.799705505371094,-27.857919692993164 17.799705505371094,-27.857919692993164 C19.713943481445312,-19.352066040039062 14.368953704833984,-10.905377388000488 5.863099098205566,-8.99113941192627 C5.863099098205566,-8.99113941192627 -25.662019729614258,-1.8974902629852295 -25.662019729614258,-1.8974902629852295"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,309.5880126953125,208.1820068359375)">
                                              <path fill="rgb(255,255,255)" fill-opacity="1"
                                                    d=" M-9.28819465637207,-31.915491104125977 C-9.28819465637207,-31.915491104125977 4.117380619049072,-34.93241500854492 4.117380619049072,-34.93241500854492 C12.16225528717041,-36.742733001708984 19.84343910217285,-31.617795944213867 21.653759002685547,-23.572921752929688 C21.653759002685547,-23.572921752929688 21.653759002685547,-23.572921752929688 21.653759002685547,-23.572921752929688 C23.464078903198242,-15.528045654296875 17.329057693481445,-7.295459747314453 9.284181594848633,-5.485139846801758 C9.284181594848633,-5.485139846801758 -15.252896308898926,0.03654162585735321 -15.252896308898926,0.03654162585735321"></path>
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    stroke="rgb(19,19,43)" stroke-opacity="1" stroke-width="0"
                                                    d=" M-9.28819465637207,-31.915491104125977 C-9.28819465637207,-31.915491104125977 4.117380619049072,-34.93241500854492 4.117380619049072,-34.93241500854492 C12.16225528717041,-36.742733001708984 19.84343910217285,-31.617795944213867 21.653759002685547,-23.572921752929688 C21.653759002685547,-23.572921752929688 21.653759002685547,-23.572921752929688 21.653759002685547,-23.572921752929688 C23.464078903198242,-15.528045654296875 17.329057693481445,-7.295459747314453 9.284181594848633,-5.485139846801758 C9.284181594848633,-5.485139846801758 -15.252896308898926,0.03654162585735321 -15.252896308898926,0.03654162585735321"></path>
                                          </g>
                                          <g opacity="1" transform="matrix(1,0,0,1,330.364990234375,148.14599609375)">
                                              <path fill="rgb(255,255,255)" fill-opacity="1"
                                                    d=" M-36.32986068725586,-31.68968391418457 C-36.32986068725586,-31.68968391418457 -9.115606307983398,-37.811607360839844 -9.115606307983398,-37.811607360839844 C-1.0707316398620605,-39.621925354003906 6.919378757476807,-34.566917419433594 8.729698181152344,-26.52204132080078 C8.729698181152344,-26.52204132080078 8.729698181152344,-26.52204132080078 8.729698181152344,-26.52204132080078 C10.540018081665039,-18.4771671295166 5.485182762145996,-10.487055778503418 -2.559692144393921,-8.676735877990723 C-2.559692144393921,-8.676735877990723 -25.914058685302734,-3.423447608947754 -25.914058685302734,-3.423447608947754"></path>
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    stroke="rgb(19,19,43)" stroke-opacity="1" stroke-width="0"
                                                    d=" M-36.32986068725586,-31.68968391418457 C-36.32986068725586,-31.68968391418457 -9.115606307983398,-37.811607360839844 -9.115606307983398,-37.811607360839844 C-1.0707316398620605,-39.621925354003906 6.919378757476807,-34.566917419433594 8.729698181152344,-26.52204132080078 C8.729698181152344,-26.52204132080078 8.729698181152344,-26.52204132080078 8.729698181152344,-26.52204132080078 C10.540018081665039,-18.4771671295166 5.485182762145996,-10.487055778503418 -2.559692144393921,-8.676735877990723 C-2.559692144393921,-8.676735877990723 -25.914058685302734,-3.423447608947754 -25.914058685302734,-3.423447608947754"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                              <clipPath id="__lottie_element_268">
                                  <path d="M0,0 L430,0 L430,430 L0,430z"></path>
                              </clipPath>
                              <filter id="__lottie_element_274" filterUnits="objectBoundingBox" x="0%" y="0%"
                                      width="100%" height="100%">
                                  <feComponentTransfer in="SourceGraphic">
                                      <feFuncA type="table" tableValues="1.0 0.0"></feFuncA>
                                  </feComponentTransfer>
                              </filter>
                              <mask id="__lottie_element_267_2" mask-type="alpha">
                                  <g filter="url(#__lottie_element_274)">
                                      <rect width="430" height="430" x="0" y="0" fill="#ffffff" opacity="0"></rect>
                                      <use xlink:href="#__lottie_element_267"></use>
                                  </g>
                              </mask>
                          </defs>
                          <g clip-path="url(#__lottie_element_255)">
                              <g clip-path="url(#__lottie_element_257)" transform="matrix(1,0,0,1,0,0)" opacity="1"
                                 style="display: block;">
                                  <g mask="url(#__lottie_element_267_2)" style="display: block;">
                                      <g transform="matrix(1.0289406776428223,0.029630467295646667,-0.027685940265655518,0.9614156484603882,-36.895809173583984,20.39217758178711)"
                                         opacity="1">
                                          <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                              <g opacity="1"
                                                 transform="matrix(1,0,0,1,249.88999938964844,257.5610046386719)">
                                                  <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                        class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                        stroke-width="18"
                                                        d=" M18.065000534057617,-16.67799949645996 C13.395000457763672,-24.66699981689453 3.1570000648498535,-29.54599952697754 -5.935999870300293,-26.597000122070312 C-10.920999526977539,-24.981000900268555 -15.109999656677246,-20.56800079345703 -15.663999557495117,-15.355999946594238 C-17.764999389648438,4.434999942779541 18.981000900268555,-5.767000198364258 18.488000869750977,14.449000358581543 C18.402999877929688,17.920000076293945 16.52899932861328,21.211999893188477 13.852999687194824,23.423999786376953 C11.177000045776367,25.63599967956543 7.769000053405762,26.839000701904297 4.323999881744385,27.275999069213867 C-4.313000202178955,28.37299919128418 -13.11299991607666,24.610000610351562 -18.493000030517578,17.823999404907227"></path>
                                              </g>
                                              <g opacity="1"
                                                 transform="matrix(1,0,0,1,249.88999938964844,291.6919860839844)">
                                                  <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                        class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                        stroke-width="18"
                                                        d=" M0,6.706999778747559 C0,6.706999778747559 0,-6.706999778747559 0,-6.706999778747559"></path>
                                              </g>
                                              <g opacity="1"
                                                 transform="matrix(1,0,0,1,249.88999938964844,223.41400146484375)">
                                                  <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                        class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                        stroke-width="18"
                                                        d=" M0,6.692999839782715 C0,6.692999839782715 0,-6.692999839782715 0,-6.692999839782715"></path>
                                              </g>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,249.88600158691406,196.6719970703125)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18"
                                                    d=" M-39.512001037597656,-56.2140007019043 C-39.512001037597656,-56.2140007019043 -72.94499969482422,22.589000701904297 -72.94499969482422,22.589000701904297 C-95.14800262451172,67.03199768066406 -65.64299774169922,133.38699340820312 0.44200000166893005,133.38699340820312 C0.44200000166893005,133.38699340820312 0.44200000166893005,133.38699340820312 0.44200000166893005,133.38699340820312 C66.5270004272461,133.38699340820312 94.92500305175781,67.03199768066406 72.89700317382812,22.589000701904297 C72.89700317382812,22.589000701904297 39.69499969482422,-55.584999084472656 39.69499969482422,-55.584999084472656 C39.69499969482422,-55.584999084472656 62.80699920654297,-133.06399536132812 62.80699920654297,-133.06399536132812 C62.80699920654297,-133.06399536132812 44.09600067138672,-120.12799835205078 30.65999984741211,-120.12799835205078 C17.06100082397461,-120.12799835205078 11.824000358581543,-133.2259979248047 -0.734000027179718,-133.2259979248047 C-13.291999816894531,-133.2259979248047 -20.322999954223633,-120.12799835205078 -31.875999450683594,-120.12799835205078 C-43.42900085449219,-120.12799835205078 -63.27000045776367,-133.38699340820312 -63.27000045776367,-133.38699340820312 C-63.27000045776367,-133.38699340820312 -39.512001037597656,-56.2140007019043 -39.512001037597656,-56.2140007019043z"></path>
                                          </g>
                                      </g>
                                  </g>
                                  <g transform="matrix(0.9956934452056885,0.09270685911178589,-0.09270685911178589,0.9956934452056885,210.86842346191406,372.129638671875)"
                                     opacity="1" style="display: block;">
                                      <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                          <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                class="primary" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="18"
                                                d=" M14.862250328063965,-0.9879270792007446 C14.862250328063965,-0.9879270792007446 -57.74725341796875,6.162165641784668 -57.74725341796875,6.162165641784668 C-61.415409088134766,6.491078853607178 -64.65451049804688,3.7542312145233154 -64.97642517089844,0.0851893350481987 C-65.4893798828125,-5.760100364685059 -63.5890998840332,-11.266823768615723 -60.100929260253906,-15.44207763671875 C-56.604644775390625,-19.62721824645996 -51.50912857055664,-22.482547760009766 -45.6478385925293,-23.008275985717773 C-45.6478385925293,-23.008275985717773 18.551786422729492,-29.403907775878906 18.551786422729492,-29.403907775878906 C26.0060977935791,-30.073259353637695 33.30400085449219,-31.413999557495117 40.569000244140625,-33.229000091552734 C65.85900115966797,-39.54899978637695 95.44200134277344,-34.933998107910156 133.4759979248047,-22.04400062561035 C133.4759979248047,-22.04400062561035 133.4759979248047,26.631000518798828 133.4759979248047,26.631000518798828 C133.4759979248047,26.631000518798828 125.80000305175781,26.631000518798828 125.80000305175781,26.631000518798828 C101.00700378417969,26.631000518798828 76.2760009765625,29.1299991607666 51.98400115966797,34.0890007019043 C51.98400115966797,34.0890007019043 10.583000183105469,42.54100036621094 10.583000183105469,42.54100036621094 C-6.745999813079834,46.07899856567383 -24.80646324157715,43.76511001586914 -42.226539611816406,42.22915267944336 C-42.226539611816406,42.22915267944336 -146.53964233398438,26.354001998901367 -146.53964233398438,26.354001998901367 C-148.54940795898438,26.220386505126953 -150.30210876464844,25.24689483642578 -151.48294067382812,23.793567657470703 C-152.5530548095703,22.475780487060547 -153.14805603027344,20.759145736694336 -153.02252197265625,18.927215576171875 C-152.24343872070312,7.5266313552856445 -142.3733673095703,-1.0908045768737793 -130.96766662597656,-0.31537872552871704 C-130.96766662597656,-0.31537872552871704 -59.55034255981445,5.642741680145264 -59.55034255981445,5.642741680145264"></path>
                                      </g>
                                  </g>
                                  <g transform="matrix(0.9628323912620544,0.27009961009025574,-0.27009961009025574,0.9628323912620544,15.220130920410156,-40.31819152832031)"
                                     opacity="1" style="display: block;">
                                      <g opacity="1" transform="matrix(1,0,0,1,220.86199951171875,163.15499877929688)">
                                          <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                class="primary" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="18"
                                                d=" M47.440162658691406,-71.81521606445312 C47.440162658691406,-71.81521606445312 -42.41573715209961,-46.859031677246094 -42.41573715209961,-46.859031677246094 C-42.41573715209961,-46.859031677246094 -42.41573715209961,-46.859031677246094 -42.41573715209961,-46.859031677246094 C-42.41573715209961,-46.859031677246094 -104.38099670410156,-55.68299865722656 -104.38099670410156,-55.68299865722656 C-104.38099670410156,-55.68299865722656 -104.38200378417969,50.847999572753906 -104.38200378417969,50.847999572753906 C-104.38200378417969,50.847999572753906 -19.150447845458984,56.535457611083984 -19.150447845458984,56.535457611083984 C-19.150447845458984,56.535457611083984 2.5066938400268555,61.03229522705078 32.007843017578125,54.39390563964844 C61.50899124145508,47.755516052246094 93.68849182128906,40.515235900878906 93.68849182128906,40.515235900878906"></path>
                                      </g>
                                      <g opacity="1" transform="matrix(1,0,0,1,318.9389953613281,118.13700103759766)">
                                          <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                class="primary" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="18"
                                                d=" M-50.82572937011719,-26.457416534423828 C-50.82572937011719,-26.457416534423828 -7.888881206512451,-36.09867858886719 -7.888881206512451,-36.09867858886719 C1.0901275873184204,-38.11930847167969 8.89641284942627,-33.4156608581543 10.602814674377441,-25.830764770507812 C10.602814674377441,-25.830764770507812 10.602814674377441,-25.830764770507812 10.602814674377441,-25.830764770507812 C12.51705265045166,-17.324909210205078 7.172887325286865,-8.878046035766602 -1.332966685295105,-6.963808536529541 C-1.332966685295105,-6.963808536529541 -24.903860092163086,-1.6796847581863403 -24.903860092163086,-1.6796847581863403"></path>
                                      </g>
                                      <g opacity="1" transform="matrix(1,0,0,1,325.9620056152344,178.16400146484375)">
                                          <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                class="primary" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="18"
                                                d=" M-21.511058807373047,-33.4412727355957 C-21.511058807373047,-33.4412727355957 0.9768751263618469,-38.501094818115234 0.9768751263618469,-38.501094818115234 C8.56177043914795,-40.207496643066406 16.093303680419922,-35.442813873291016 17.799705505371094,-27.857919692993164 C17.799705505371094,-27.857919692993164 17.799705505371094,-27.857919692993164 17.799705505371094,-27.857919692993164 C19.713943481445312,-19.352066040039062 14.368953704833984,-10.905377388000488 5.863099098205566,-8.99113941192627 C5.863099098205566,-8.99113941192627 -25.662019729614258,-1.8974902629852295 -25.662019729614258,-1.8974902629852295"></path>
                                      </g>
                                      <g opacity="1" transform="matrix(1,0,0,1,309.5880126953125,208.1820068359375)">
                                          <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                class="primary" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="18"
                                                d=" M-9.28819465637207,-31.915491104125977 C-9.28819465637207,-31.915491104125977 4.117380619049072,-34.93241500854492 4.117380619049072,-34.93241500854492 C12.16225528717041,-36.742733001708984 19.84343910217285,-31.617795944213867 21.653759002685547,-23.572921752929688 C21.653759002685547,-23.572921752929688 21.653759002685547,-23.572921752929688 21.653759002685547,-23.572921752929688 C23.464078903198242,-15.528045654296875 17.329057693481445,-7.295459747314453 9.284181594848633,-5.485139846801758 C9.284181594848633,-5.485139846801758 -15.252896308898926,0.03654162585735321 -15.252896308898926,0.03654162585735321"></path>
                                      </g>
                                      <g opacity="1" transform="matrix(1,0,0,1,330.364990234375,148.14599609375)">
                                          <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                class="primary" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="18"
                                                d=" M-36.32986068725586,-31.68968391418457 C-36.32986068725586,-31.68968391418457 -9.115606307983398,-37.811607360839844 -9.115606307983398,-37.811607360839844 C-1.0707316398620605,-39.621925354003906 6.919378757476807,-34.566917419433594 8.729698181152344,-26.52204132080078 C8.729698181152344,-26.52204132080078 8.729698181152344,-26.52204132080078 8.729698181152344,-26.52204132080078 C10.540018081665039,-18.4771671295166 5.485182762145996,-10.487055778503418 -2.559692144393921,-8.676735877990723 C-2.559692144393921,-8.676735877990723 -25.914058685302734,-3.423447608947754 -25.914058685302734,-3.423447608947754"></path>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </svg>
                  </div>
                  <div id="w-node-_6aa78a52-0a32-5874-545c-1e65a6ab212c-2120814a">30 dni na zwrot</div>
              </div>
              <div id="w-node-_39340757-8696-cb79-00fe-f89be820df10-2120814a" class="header30_feature">
                  <div class="icon-1x1-medium" data-w-id="39340757-8696-cb79-00fe-f89be820df11"
                       data-animation-type="lottie"
                       data-src="https://assets-global.website-files.com/65945aac2ee770034538c7f4/659461c1e3824bedf688d6e3_wired-outline-46-timer-stopwatch.json"
                       data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg"
                       data-duration="0">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                           viewBox="0 0 430 430" width="430" height="430" preserveAspectRatio="xMidYMid meet"
                           style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                          <defs>
                              <clipPath id="__lottie_element_281">
                                  <rect width="430" height="430" x="0" y="0"></rect>
                              </clipPath>
                              <clipPath id="__lottie_element_283">
                                  <path d="M0,0 L430,0 L430,430 L0,430z"></path>
                              </clipPath>
                          </defs>
                          <g clip-path="url(#__lottie_element_281)">
                              <g clip-path="url(#__lottie_element_283)" transform="matrix(1,0,0,1,0,0)" opacity="1"
                                 style="display: block;">
                                  <g transform="matrix(1,0,0,1,214.968994140625,219.48135375976562)" opacity="1"
                                     style="display: block;">
                                      <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                          <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                class="primary" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="18"
                                                d=" M119.43019104003906,-67.58721923828125 C119.43019104003906,-67.58721923828125 94.43019104003906,-92.58721923828125 94.43019104003906,-92.58721923828125 M106.93019104003906,-80.08721923828125 C106.93019104003906,-80.08721923828125 101.53099822998047,-74.9749984741211 101.53099822998047,-74.9749984741211 M22.83099937438965,-114.6510009765625 C22.83099937438965,-114.6510009765625 22.83099937438965,-148.47500610351562 22.83099937438965,-148.47500610351562 C22.83099937438965,-148.47500610351562 -22.9689998626709,-148.47500610351562 -22.9689998626709,-148.47500610351562 M-22.9689998626709,-114.78800201416016 C-22.9689998626709,-114.78800201416016 -22.9689998626709,-148.47500610351562 -22.9689998626709,-148.47500610351562 M-22.9689998626709,-148.47500610351562 C-22.9689998626709,-148.47500610351562 -54.96900177001953,-148.47500610351562 -54.96900177001953,-148.47500610351562 C-54.96900177001953,-148.47500610351562 -54.96900177001953,-173.47500610351562 -54.96900177001953,-173.47500610351562 C-54.96900177001953,-173.47500610351562 55.03099822998047,-173.47500610351562 55.03099822998047,-173.47500610351562 C55.03099822998047,-173.47500610351562 55.03099822998047,-148.47500610351562 55.03099822998047,-148.47500610351562 C55.03099822998047,-148.47500610351562 22.827999114990234,-148.47500610351562 22.827999114990234,-148.47500610351562 M95.03099822998047,29.225000381469727 C95.03099822998047,29.225000381469727 117.03099822998047,29.225000381469727 117.03099822998047,29.225000381469727 M0.03099999949336052,121.5250015258789 C0.03099999949336052,121.5250015258789 0.03099999949336052,146.52499389648438 0.03099999949336052,146.52499389648438 M-95.96900177001953,29.024999618530273 C-95.96900177001953,29.024999618530273 -117.96900177001953,29.024999618530273 -117.96900177001953,29.024999618530273 M0.03099999949336052,-66.4749984741211 C0.03099999949336052,-66.4749984741211 0.03099999949336052,-88.4749984741211 0.03099999949336052,-88.4749984741211 M-83.5739974975586,112.1259994506836 C-37.7140007019043,157.99200439453125 36.74599838256836,157.99200439453125 82.60600280761719,112.1259994506836 C128.5469970703125,66.26000213623047 128.46600341796875,-8.210000038146973 82.60600280761719,-54.07600021362305 C36.74599838256836,-99.94200134277344 -37.7140007019043,-99.94200134277344 -83.5739974975586,-54.07600021362305 C-129.4340057373047,-8.210000038146973 -129.4340057373047,66.26000213623047 -83.5739974975586,112.1259994506836z M-102.56900024414062,131.02499389648438 C-45.96900177001953,187.625 45.930999755859375,187.625 102.53099822998047,131.02499389648438 C159.2310028076172,74.42500305175781 159.13099670410156,-17.475000381469727 102.53099822998047,-74.07499694824219 C45.930999755859375,-130.6750030517578 -45.96900177001953,-130.6750030517578 -102.56900024414062,-74.07499694824219 C-159.16900634765625,-17.475000381469727 -159.16900634765625,74.42500305175781 -102.56900024414062,131.02499389648438z"></path>
                                      </g>
                                  </g>
                                  <g transform="matrix(0.9951974749565125,0.09788753092288971,-0.09788753092288971,0.9951974749565125,217.08010864257812,227.3583984375)"
                                     opacity="1" style="display: block;">
                                      <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                          <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0"
                                                stroke-miterlimit="4" class="secondary" stroke="rgb(217,44,31)"
                                                stroke-opacity="1" stroke-width="18"
                                                d=" M0,-36.25 C0,-36.25 0,6.25 0,6.25 M0,36.25 C8.284000396728516,36.25 15,29.534000396728516 15,21.25 C15,12.965999603271484 8.284000396728516,6.25 0,6.25 C-8.284000396728516,6.25 -15,12.965999603271484 -15,21.25 C-15,29.534000396728516 -8.284000396728516,36.25 0,36.25z"></path>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </svg>
                  </div>
                  <div id="w-node-_39340757-8696-cb79-00fe-f89be820df12-2120814a">Wysyłka w 24h</div>
              </div>
              {% comment %} WOJTEK STYLE{% endcomment %}
              <div class="header30_feature is-last">
                  <div class="icon-1x1-medium"
                       data-animation-type="lottie"
                       data-src="https://assets-global.website-files.com/65945aac2ee770034538c7f4/6594621df8162c5e8aba9757_wired-outline-852-wheel.json"
                       data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg"
                       data-duration="0">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                           viewBox="0 0 430 430" width="430" height="430" preserveAspectRatio="xMidYMid meet"
                           style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                          <defs>
                              <clipPath id="__lottie_element_293">
                                  <rect width="430" height="430" x="0" y="0"></rect>
                              </clipPath>
                              <clipPath id="__lottie_element_295">
                                  <path d="M0,0 L430,0 L430,430 L0,430z"></path>
                              </clipPath>
                          </defs>
                          <g clip-path="url(#__lottie_element_293)">
                              <g clip-path="url(#__lottie_element_295)" transform="matrix(1,0,0,1,0,0)" opacity="1"
                                 style="display: block;">
                                  <g transform="matrix(0.7673925757408142,0.6411775350570679,-0.6411775350570679,0.7673925757408142,207.04208374023438,-137.14251708984375)"
                                     opacity="1" style="display: block;">
                                      <g opacity="1" transform="matrix(1,0,0,1,250,250)">
                                          <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                class="primary" stroke="rgb(0,0,0)" stroke-opacity="1"
                                                stroke-width="18.06"
                                                d=" M-160.11900329589844,0 C-160.11900329589844,88.43199920654297 -88.43099975585938,160.11900329589844 0,160.11900329589844 C88.43199920654297,160.11900329589844 160.11900329589844,88.43199920654297 160.11900329589844,0 C160.11900329589844,-88.43099975585938 88.43199920654297,-160.11900329589844 0,-160.11900329589844 C-88.43099975585938,-160.11900329589844 -160.11900329589844,-88.43099975585938 -160.11900329589844,0z"></path>
                                      </g>
                                      <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                          <g opacity="1" transform="matrix(1,0,0,1,250,250)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-122.0999984741211,0 C-122.0999984741211,67.43499755859375 -67.43299865722656,122.10099792480469 0.0010000000474974513,122.10099792480469 C67.43499755859375,122.10099792480469 122.0999984741211,67.43499755859375 122.0999984741211,0 C122.0999984741211,-67.43499755859375 67.43499755859375,-122.10099792480469 0.0010000000474974513,-122.10099792480469 C-67.43299865722656,-122.10099792480469 -122.0999984741211,-67.43499755859375 -122.0999984741211,0z"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,219.89999389648438,178.24099731445312)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-15.319999694824219,-41.619998931884766 C-15.319999694824219,-41.619998931884766 6.960000038146973,-21.770000457763672 6.960000038146973,-21.770000457763672 C12.279999732971191,-17.030000686645508 15.319999694824219,-10.229999542236328 15.319999694824219,-3.0999999046325684 C15.319999694824219,-3.0999999046325684 15.319999694824219,23.59000015258789 15.319999694824219,23.59000015258789 C15.319999694824219,28.729999542236328 13.739999771118164,33.7400016784668 10.789999961853027,37.95000076293945 C10.789999961853027,37.95000076293945 8.210000038146973,41.619998931884766 8.210000038146973,41.619998931884766"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,280.07000732421875,178.24600219726562)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-8.170000076293945,41.625 C-8.170000076293945,41.625 -10.739999771118164,37.82500076293945 -10.739999771118164,37.82500076293945 C-13.539999961853027,33.69499969482422 -15.029999732971191,28.815000534057617 -15.029999732971191,23.815000534057617 C-15.029999732971191,23.815000534057617 -15.029999732971191,-3.255000114440918 -15.029999732971191,-3.255000114440918 C-15.029999732971191,-10.295000076293945 -12.0600004196167,-17.014999389648438 -6.840000152587891,-21.7549991607666 C-6.840000152587891,-21.7549991607666 15.029999732971191,-41.625 15.029999732971191,-41.625"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,171.35499572753906,250.59800720214844)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-43.21500015258789,7.564000129699707 C-43.21500015258789,7.564000129699707 -17.454999923706055,-7.486000061035156 -17.454999923706055,-7.486000061035156 C-11.305000305175781,-11.086000442504883 -3.9049999713897705,-11.88599967956543 2.875,-9.675999641418457 C2.875,-9.675999641418457 28.264999389648438,-1.4259999990463257 28.264999389648438,-1.4259999990463257 C33.154998779296875,0.15399999916553497 37.435001373291016,3.2139999866485596 40.525001525878906,7.323999881744385 C40.525001525878906,7.323999881744385 43.21500015258789,10.904000282287598 43.21500015258789,10.904000282287598"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,192.11000061035156,197.09100341796875)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-36,-25.018999099731445 C-36,-25.018999099731445 -23.8700008392334,1.9210000038146973 -23.8700008392334,1.9210000038146973 C-20.969999313354492,8.35099983215332 -15.5,13.25100040435791 -8.800000190734863,15.430999755859375 C-8.800000190734863,15.430999755859375 16.950000762939453,23.801000595092773 16.950000762939453,23.801000595092773 C21.700000762939453,25.340999603271484 26.799999237060547,25.42099952697754 31.600000381469727,24.041000366210938 C31.600000381469727,24.041000366210938 36,22.770999908447266 36,22.770999908447266"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,231.5780029296875,327.83599853515625)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-11.477999687194824,40.584999084472656 C-11.477999687194824,40.584999084472656 -17.827999114990234,11.4350004196167 -17.827999114990234,11.4350004196167 C-19.347999572753906,4.465000152587891 -17.81800079345703,-2.815000057220459 -13.628000259399414,-8.585000038146973 C-13.628000259399414,-8.585000038146973 2.062000036239624,-30.184999465942383 2.062000036239624,-30.184999465942383 C5.081999778747559,-34.334999084472656 9.312000274658203,-37.46500015258789 14.17199993133545,-39.1349983215332 C14.17199993133545,-39.1349983215332 18.402000427246094,-40.584999084472656 18.402000427246094,-40.584999084472656"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,180.72500610351562,288.3559875488281)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-33.845001220703125,26.854999542236328 C-33.845001220703125,26.854999542236328 -4.485000133514404,23.645000457763672 -4.485000133514404,23.645000457763672 C2.5250000953674316,22.875 8.885000228881836,19.184999465942383 13.024999618530273,13.484999656677246 C13.024999618530273,13.484999656677246 28.934999465942383,-8.414999961853027 28.934999465942383,-8.414999961853027 C31.875,-12.454999923706055 33.525001525878906,-17.274999618530273 33.69499969482422,-22.274999618530273 C33.69499969482422,-22.274999618530273 33.845001220703125,-26.854999542236328 33.845001220703125,-26.854999542236328"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,319.4049987792969,288.2659912109375)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-33.974998474121094,-26.7549991607666 C-33.974998474121094,-26.7549991607666 -33.904998779296875,-22.264999389648438 -33.904998779296875,-22.264999389648438 C-33.82500076293945,-17.125 -32.154998779296875,-12.135000228881836 -29.135000228881836,-7.985000133514404 C-29.135000228881836,-7.985000133514404 -13.444999694824219,13.614999771118164 -13.444999694824219,13.614999771118164 C-9.255000114440918,19.385000228881836 -2.805000066757202,23.084999084472656 4.295000076293945,23.795000076293945 C4.295000076293945,23.795000076293945 33.974998474121094,26.7549991607666 33.974998474121094,26.7549991607666"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,268.3389892578125,327.7409973144531)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-18.358999252319336,-40.4900016784668 C-18.358999252319336,-40.4900016784668 -14.038999557495117,-38.93000030517578 -14.038999557495117,-38.93000030517578 C-9.33899974822998,-37.22999954223633 -5.258999824523926,-34.15999984741211 -2.3289999961853027,-30.1200008392334 C-2.3289999961853027,-30.1200008392334 13.581000328063965,-8.220000267028809 13.581000328063965,-8.220000267028809 C17.731000900268555,-2.5199999809265137 19.270999908447266,4.659999847412109 17.83099937438965,11.5600004196167 C17.83099937438965,11.5600004196167 11.821000099182129,40.4900016784668 11.821000099182129,40.4900016784668"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,307.8450012207031,197.0290069580078)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-35.94499969482422,22.843000411987305 C-35.94499969482422,22.843000411987305 -31.655000686645508,24.163000106811523 -31.655000686645508,24.163000106811523 C-26.7450008392334,25.663000106811523 -21.485000610351562,25.62299919128418 -16.594999313354492,24.033000946044922 C-16.594999313354492,24.033000946044922 8.78499984741211,15.782999992370605 8.78499984741211,15.782999992370605 C15.5649995803833,13.583000183105469 21.084999084472656,8.583000183105469 23.954999923706055,2.062999963760376 C23.954999923706055,2.062999963760376 35.94499969482422,-25.256999969482422 35.94499969482422,-25.256999969482422"></path>
                                          </g>
                                          <g opacity="1"
                                             transform="matrix(1,0,0,1,328.5950012207031,250.7030029296875)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-43.165000915527344,10.807999610900879 C-43.165000915527344,10.807999610900879 -40.35499954223633,7.197999954223633 -40.35499954223633,7.197999954223633 C-37.28499984741211,3.257999897003174 -33.10499954223633,0.328000009059906 -28.354999542236328,-1.222000002861023 C-28.354999542236328,-1.222000002861023 -2.615000009536743,-9.581999778747559 -2.615000009536743,-9.581999778747559 C4.085000038146973,-11.76200008392334 11.395000457763672,-11.01200008392334 17.514999389648438,-7.51200008392334 C17.514999389648438,-7.51200008392334 43.165000915527344,7.1479997634887695 43.165000915527344,7.1479997634887695"></path>
                                          </g>
                                          <g opacity="1" transform="matrix(1,0,0,1,250.00100708007812,250)">
                                              <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                    class="secondary" stroke="rgb(217,44,31)" stroke-opacity="1"
                                                    stroke-width="18.06"
                                                    d=" M-35.43000030517578,0 C-35.43000030517578,19.566999435424805 -19.56800079345703,35.43000030517578 -0.0010000000474974513,35.43000030517578 C19.566999435424805,35.43000030517578 35.43000030517578,19.566999435424805 35.43000030517578,0 C35.43000030517578,-19.56599998474121 19.566999435424805,-35.43000030517578 -0.0010000000474974513,-35.43000030517578 C-19.56800079345703,-35.43000030517578 -35.43000030517578,-19.56599998474121 -35.43000030517578,0z"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </svg>
                  </div>
                  <div >Sprawdzone przez<br>specjalistów</div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="header-search-big_background-image-wrapper">
  <div class="image-overlay-layer"></div>
  <img src="{{ section.settings.background_image | image_url: width: 2560 }}" class="header-search-big_background-image" alt="background-image">
</div>

{% stylesheet %}
  .header-search-big_tabs {
    grid-column-gap: 2rem;
    grid-row-gap: 0;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .header-search-big_content {
    justify-content: center;
    align-items: flex-start;
    max-height: 60rem;
    padding-top: 4rem;
    padding-bottom: 16rem;
    display: flex;
  }

  .header-search-big_content-wrapper {
    grid-column-gap: 2rem;
    background-color: #f4f4f5;
    border-radius: 1rem;
    flex-direction: column;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    position: relative;
  }

  .header-search-big_background-image-wrapper {
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .header-search-big_background-image {
    object-fit: cover;
    object-position: 50% 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
{% endstylesheet %}

<script>
    var currentSection = document.currentScript.closest('.shopify-section');
    currentSection.setAttribute("class", "section_header-search-big");

    document.addEventListener('DOMContentLoaded', function () {
        const topTabs = document.querySelectorAll('.tab-link-top-search');
        const topTabContents = document.querySelectorAll('.w-tab-pane');

        // We also need to ensure that sub-tab content areas are hidden by default
        const subTabContents = document.querySelectorAll('.w-tab-pane [data-sub-tab]');
        subTabContents.forEach(content => {
            content.classList.remove('w--tab-active'); // Ensure all sub-tabs are not active initially
        });

        function clearActiveStates(elements) {
            elements.forEach(element => {
                element.classList.remove('w--current');
            });
        }

        function hideAllTabContents(contents) {
            contents.forEach(content => {
                content.style.display = 'none';
                content.classList.remove('w--tab-active'); // Also remove w--tab-active when hiding
            });
        }

        function activateTab(tab) {
            const targetTab = tab.getAttribute('data-w-tab');
            const targetContent = document.querySelector(`.tab-pane-tab-${targetTab}`);
            const subTabs = targetContent.querySelectorAll('.tab-link-left-search');

            clearActiveStates([...topTabs, ...subTabs]); // Clear both top and sub-tabs
            hideAllTabContents([...topTabContents, ...subTabContents]); // Hide both top and sub-tab contents

            tab.classList.add('w--current');
            targetContent.style.display = 'block';
            targetContent.classList.add('w--tab-active'); // Mark the target tab content as active

            // Automatically activate the first sub-tab and content
            if (subTabs.length > 0) {
                subTabs[0].classList.add('w--current');
                const firstSubTabContent = targetContent.querySelector(`[data-sub-tab="${subTabs[0].getAttribute('data-w-tab')}"]`);
                if (firstSubTabContent) {
                    firstSubTabContent.style.display = 'block';
                    firstSubTabContent.classList.add('w--tab-active'); // Mark the first sub-tab content as active
                }
            }
        }

        topTabs.forEach(tab => {
            tab.addEventListener('click', () => activateTab(tab));
        });

        // Handling sub-tabs clicks within each tab
        topTabContents.forEach(tabContent => {
            const subTabs = tabContent.querySelectorAll('.tab-link-left-search');

            subTabs.forEach(subTab => {
                subTab.addEventListener('click', function () {
                    clearActiveStates(subTabs); // Clear only the sub-tabs
                    hideAllTabContents(subTabContents); // Hide all sub-tab contents

                    subTab.classList.add('w--current');
                    const targetSubContent = tabContent.querySelector(`[data-sub-tab="${subTab.getAttribute('data-w-tab')}"]`);
                    if (targetSubContent) {
                        targetSubContent.style.display = 'block';
                        targetSubContent.classList.add('w--tab-active'); // Mark the target sub-tab content as active
                    }
                });
            });
        });

        // Activate the first top level tab and its content on page load
        if (topTabs.length > 0) {
            activateTab(topTabs[0]);
        }
    });
</script>

{% schema %}
  {
    "name": "Tire Model Tabs",
    "tag": "header",
    "class": "section_header-search-big",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Zdjęcie w tle"
      }
    ],
    "presets": [
      {
        "name": "Tabsy model"
      }
    ]
  }
{% endschema %}