<div class="padding-global {{ section.settings.background }}">
  <div class="container-large">
    <div class="padding-section-{{ section.settings.padding }}">
      <div class="{{ section.settings.container }}">
        <div class="margin-bottom margin-medium">
          <h4>
            Opony {{ metaobject.name }} według sezonu</h4>
        </div>
        <div class="grid-3">
          {% for season in shop.metaobjects.page_summer_tires.values %}
            {% if metaobject.name.value == season.manufacturer.value.name %}
              <a class="season_select-wrapper shadow-small" href="{{ season.system.url }}">
                <img src="{{ 'IcRoundSun.svg' | asset_url }}" class="icon-embed-small">
                <p class="text-weight-semibold text-color-black">Opony Letnie {{ metaobject.name }}</p>
              </a>
            {% endif %}
          {% endfor %}
          {% for season in shop.metaobjects.page_winter_tires.values %}
            {% if metaobject.name.value == season.manufacturer.value.name %}
              <a class="season_select-wrapper shadow-small" href="{{ season.system.url }}">
                <img src="{{ 'IcRoundWinter.svg' | asset_url }}" class="icon-embed-small">
                <p class="text-weight-semibold text-color-black">Opony Zimowe {{ metaobject.name }}</p>
              </a>
            {% endif %}
          {% endfor %}
          {% for season in shop.metaobjects.page_allyear_tires.values %}
            {% if metaobject.name.value == season.manufacturer.value.name %}
              <a class="season_select-wrapper shadow-small" href="{{ season.system.url }}">
                <img src="{{ 'IcRoundAllSeason.svg' | asset_url }}" class="icon-embed-small">
                <p class="text-weight-semibold text-color-black">Opony Całoroczne {{ metaobject.name }}</p>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "3 Sezony Opon | Producent",
    "tag": "section",
    "class": "section_seasons-list",
    "limit": 1,
    "settings": [
      {
        "id": "padding",
        "type": "select",
        "label": "Odstępy",
        "options": [
          {
            "value": "medium",
            "label": "Średnie"
          }, {
            "value": "small",
            "label": "Małe"
          }, {
            "value": "xsmall",
            "label": "X Małe"
          }
        ],
        "default": "xsmall"
      }, {
        "id": "background",
        "type": "select",
        "label": "Kolor tła",
        "options": [
          {
            "value": "background-color-white",
            "label": "Biały"
          }, {
            "value": "background-color-grayiron100",
            "label": "Szary"
          }
        ],
        "default": "background-color-grayiron100"
      }, {
        "type": "select",
        "id": "container",
        "label": "Kontener",
        "options": [
          {
            "value": "white-container",
            "label": "Kontener Biały"
          }, {
            "value": "",
            "label": "Brak Kontenera"
          }, {
            "value": "white-container shadow-small",
            "label": "Kontener z cieniem"
          }
        ],
        "default": "white-container shadow-small"
      }
    ],
    "presets": [
      {
        "name": "3 sezony producenta"
      }
    ]
  }
{% endschema %}


{% stylesheet %}
  .season_select-wrapper {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    border-radius: 0.5rem;
    align-items: center;
    padding: 1.5rem;
    display: flex;
  }
  @media screen and (max-width: 991px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 479px) {}
{% endstylesheet %}