<div class="padding-global {{ section.settings.background }}">
  <div class="container-large">
    <div class="padding-section-{{ section.settings.padding }}">
      <div class="grid-3">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'model_opony' %}
              {% assign counter = 0 %}
              {% for metaobject in shop.metaobjects.modele_opon.values %}
                {% if block.settings.model == metaobject.model %}
                  {% if counter < 1 %}
                    <div class="product-square shadow-xsmall">
                      <div class="product_content-wrapper">
                        <div class="product_tittle-wrapper">
                          <div class="text-size-large text-weight-semibold">
                            {{ metaobject.markavalue..name }}</div>
                          <div class="heading-style-h4">
                            {{ metaobject.model }}</div>
                        </div>
                        <div class="margin-top margin-xsmall">
                          <div class="product_pictures-wrapper">
                            <div class="product_season-wrapper"></div>
                            <div class="product_badge-wrapper">
                              <div class="text-size-small text-weight-bold text-color-white">{{ metaobject.marka.value.class }}</div>
                            </div>
                            <div class="product_image-wrapper">
                              {{ metaobject.zdjecie | image_url: height: 800 | image_tag: class: "image-2" }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="product-square_info-wrapper">
                        <a href="{{ metaobject.system.url }}" class="button is-small is-icon">
                          <div>Zobacz oferty</div>
                          <div class="icon-embed-xsmall"></div>
                        </a>
                      </div>
                    </div>
                    {% assign counter = counter | plus: 1 %}
                  {% endif %}
                {% endif %}
              {% endfor %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Lista Modeli Opon",
    "tag": "section",
    "class": "section_tires-3-grid",
    "limit": 2,
    "settings": [
      {
        "id": "padding",
        "type": "select",
        "label": "Padding",
        "options": [
          {
            "value": "large",
            "label": "Duży"
          }, {
            "value": "medium",
            "label": "Średni"
          }, {
            "value": "small",
            "label": "Mały"
          }
        ],
        "default": "large"
      }, {
        "id": "background",
        "type": "select",
        "label": "Kolor tła",
        "options": [
          {
            "value": "background-color-white",
            "label": "Biały"
          }, {
            "value": "background-color-grayiron50",
            "label": "Szary"
          }
        ],
        "default": "background-color-white"
      }
    ],
    "presets": [
      {
        "name": "Lista Modeli Opon"
      }
    ],
    "blocks": [
      {
        "name": "Model Opony",
        "type": "model_opony",
        "settings": [
          {
            "type": "text",
            "id": "model",
            "label": "Model Opony"
          }
        ]
      }
    ]
  }
{% endschema %}